<template>
  <div>
    <h2>{{$t("account.setting")}}</h2>
    <div>
      <div class="row">
        <input-text
          id="key"
          class="col s12"
          :value="account.mail"
          :disabled="true"
          :label="$t('account.mail')"
        />
        <input-text
          id="key"
          class="col s12"
          :value="account.name"
          :disabled="true"
          :label="$t('account.name')"
        />
        <label class="col s12">
          <input
            ref="desktopNotificationCheckbox"
            type="checkbox"
            class="filled-in"
            v-model="isDesktopNotificationEnabled"
            :disabled="!editing"
          />
          <span>{{$t("account.desctiopNotification")}}</span>
        </label>
        <div class="description">{{$t("account.desktopNotificationSharedEverySpace")}}</div>
        <div class="row"></div>
        <croppa
          ref="croppa"
          v-if="editing"
          class="croppa"
          :width="200"
          :height="200"
          prevent-white-space
          :accept="'image/*'"
          v-model="imageModel"
          :initial-image="account.iconUrl"
          @new-image-drawn="imageDrawn()"
          @image-remove="imageDrawn()"
          @move="imageDrawn()"
          @zoom="imageDrawn()"
        ></croppa>
        <img v-if="!editing" class="croppa" :src="account.iconUrl" />
        <div class="description">{{$t("account.iconSharedEverySpace")}}</div>
      </div>
      <div class="row"></div>
      <div class="row">
        <button
          id="saveButton"
          v-if="editing"
          class="waves-effect waves-light btn"
          @click="save"
          :disabled="saving"
        >
          <i class="material-icons left">cloud</i>
          {{$t("save") }}
        </button>
        <button id="editButton" v-if="!editing" class="waves-effect waves-light btn" @click="edit">
          <i class="material-icons left">create</i>
          {{$t("edit")}}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import * as Account from "../js/model/Account";
import * as Tenant from "../js/model/Tenant";
import * as Strings from "../js/util/Strings";
import InputText from "./InputText";
import Croppa from "vue-croppa";

export default {
  components: {
    InputText,
    Croppa: Croppa.component
  },
  data() {
    return {
      account: {},
      editing: false,
      imageModel: null,
      imageUpdated: false,
      editing: false,
      saving: false,
      croppaInited: false
    };
  },
  computed: {
    isDesktopNotificationEnabled: {
      get: function() {
        return (
          this.account.desktopNotification &&
          window.Notification.permission == "granted"
        );
      },
      set: function(value) {
        if (value) {
          if ("Notification" in window) {
            if (window.Notification.permission == "granted") {
              this.account.desktopNotification = true;
              this.$initNotification();
              this.$toast(this.$t("account.desktopNotificationInitialized"));
              return;
            }
            window.Notification.requestPermission(() => {
              if (window.Notification.permission === "granted") {
                this.account.desktopNotification = true;
                this.$initNotification();
                this.$toast(this.$t("account.desktopNotificationInitialized"));
              } else {
                this.$refs.desktopNotificationCheckbox.checked = false;
                this.account.desktopNotification = false;
              }
            });
          }
        }
        this.account.desktopNotification = false;
        this.$refs.desktopNotificationCheckbox.checked = false;
        this.$initInternalNotification();
      }
    }
  },
  methods: {
    async save() {
      if (this.imageUpdated) {
        const blob = await this.$refs.croppa.promisedBlob("image/png", 0.5);
        if (!blob) {
          this.account.iconUrl = null;
        } else {
          const uploaded = await Account.uploadIcon({
            name: "icon.png",
            size: blob.size,
            type: "image/png",
            blob
          });
          const iconUrl = uploaded.headers.location || uploaded.file.url;
          this.account.iconUrl = iconUrl;
        }
      }
      await Account.updateAccount(this.account);
      this.account = await Account.refleshAccount();
      this.editing = false;
    },
    async edit() {
      this.editing = true;
      if (this.account.iconUrl) {
        this.croppaInited = false;
      } else {
        this.croppaInited = true;
      }
      this.imageUpdated = false;
      setTimeout(() => M.updateTextFields());
    },
    imageDrawn() {
      if (!this.croppaInited) {
        this.croppaInited = true;
        return;
      }
      this.imageUpdated = true;
    }
  },
  async beforeMount() {
    this.account = await Account.getAccount();
  }
};
</script>
<style scoped>
.croppa {
  width: 200px;
  height: 200px;
  border: solid 1px #666;
  border-radius: 100px;
}
.description {
  margin-left: 30px;
  color: #666;
  font-size: 10px;
}
</style>