<template>
  <div class="box">
    <div class="box_title">{{title}}</div>
    <div>
      <table v-if="args" style="width:100%">
        <thead>
          <tr>
            <th v-for="(title, titleIndex) in headers" :key="titleIndex">{{title}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(arg, index) in value" :key="index">
            <td v-for="(param, pindex) in showParams" :key="pindex">
              <template v-if="editable && isEditableParam && isEditableParam(arg, param)">
                <input-text id="newCustomAttributeCandidates" class="col s12" v-model="arg[param]"></input-text>
              </template>
              <template v-else>{{toValue(arg, param)}}</template>
            </td>
            <td>
              <button
                v-if="editable && deleteButtonVisible(arg)"
                class="waves-effect waves-light btn delete-button"
                @click="deleteFromValue(arg)"
              >
                <i class="material-icons left">not_interested</i>
                {{$t("delete")}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="!value || value.length == 0">{{emptyMessage}}</div>
    </div>
  </div>
</template>
<script>
import InputText from "./InputText";
export default {
  props: [
    "value",
    "title",
    "headers",
    "showParams",
    "canBeEmpty",
    "editable",
    "undeletableIds",
    "emptyMessage",
    "isEditableParam",
  ],
  components: {
    InputText,
  },
  data() {
    return { args: [] };
  },
  methods: {
    deleteButtonVisible(arg) {
      return (
        (this.canBeEmpty || this.value.length > 1) &&
        (!this.undeletableIds ||
          !this.undeletableIds.some((id) => id == arg.id))
      );
    },
    deleteFromValue(arg) {
      this.args = this.args.filter((a) => arg.id != a.id);
      this.$emit("input", this.args);
    },
    toValue(arg, param) {
      if (typeof param == "function") {
        return param(arg);
      } else {
        return arg[param];
      }
    },
  },
  watch: {
    value(v) {
      this.args = v;
    },
  },
};
</script>
<style>
th {
  padding: 0 10px;
}
input {
  margin-bottom: 0;
}
</style>