<template>
  <div class="chat">
    <button
      v-if="!active"
      class="chat-button btn-floating btn-large waves-effect waves-light"
      @click="toggleActive"
      :class="{active:!active}"
    >
      <i class="material-icons">chat</i>
      <div v-if="messages" class="chat-length-area">{{messages.length}}</div>
    </button>
    <div class="chat-area" v-if="active" :class="{active:active}">
      <div class="chat-message-area" ref="chatMessageArea">
        <div v-for="(message,index) in messages" :key="index">
          <div class="chat-message-owner-name col s6">{{message.owner.name}}</div>
          <div class="chat-message-date col s6">{{message.createdAt | date($t("dateformat"))}}</div>
          <markdown :value="message.content" style="margin-bottom:1px;" />
        </div>
      </div>
      <div class="chat-input-area">
        <input-text
          class="chat-input-text"
          v-model="input"
          @keypressEnter="sendMessage"
          :disabled="false"
        ></input-text>
        <button
          class="waves-effect waves-light btn col s1"
          style="height:33px; padding-left:9px"
          @click="sendMessage"
        >
          <i class="material-icons left">chat</i>
        </button>
        <button
          class="waves-effect waves-light btn btn-floating btn-small col s1"
          @click="toggleActive"
        >
          <i class="material-icons left">arrow_drop_down</i>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import * as Chat from "../js/model/Chat";
import InputText from "./InputText";
import Markdown from "./Markdown";
const Strings = require("../../../app/server/util/stringUtil");
export default {
  components: { InputText, Markdown },
  props: ["todo"],
  data() {
    return {
      messages: [],
      input: "",
      active: false,
      listener: null
    };
  },
  methods: {
    async sendMessage() {
      if (!this.input) {
        return;
      }
      const hash = Strings.randomString(10);
      Chat.sendMessage(this.todo, this.input, hash);
      this.input = "";
    },
    scrollToBottom() {
      setTimeout(() => {
        if (this.$refs.chatMessageArea) {
          this.$refs.chatMessageArea.scrollTo(
            0,
            this.$refs.chatMessageArea.scrollHeight
          );
        }
      });
    },
    toggleActive() {
      this.active = !this.active;
      if (this.active) {
        this.scrollToBottom();
        window.chattingTodoId = this.todo.id;
      } else {
        delete window.chattingTodoId;
      }
    }
  },
  async created() {
    this.listener = message => {
      if (this.todo && message.todo.id == this.todo.id) {
        this.messages.push(message);
        this.scrollToBottom();
      }
    };
    this.$socket.on("NEW_MESSAGE", this.listener);

    if (this.todo && this.todo.id) {
      this.messages = await Chat.getMessage(this.todo);
      this.scrollToBottom();
    }
  },
  async beforeDestroy() {
    this.$socket.off("NEW_MESSAGE", this.listener);
  },
  watch: {
    async todo(t) {
      if (t && t.id) {
        this.messages = await Chat.getMessage(t);
      }
    }
  }
};
</script>
<style>
.chat-button {
  display: none;
  opacity: 0;
}
.chat-button.active {
  display: inherit;
  opacity: 1;
}
.chat {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}
.chat-area {
  width: 0;
  height: 0;
  opacity: 0;
  /*transition: all 0.5s ease-out 1s;*/
}
.chat-area.active {
  width: 450px;
  height: 333px;
  opacity: 1;
  background-color: var(--main-background-color);
  border: 1px solid #999;
}
.chat-message-area {
  overflow: scroll;
  height: 300px;
}
.chat-message-owner-name {
  float: left;
  margin-left: 10px;
  color: #999;
  font-size: 10px;
  line-height: 10px;
}
.chat-message-date {
  float: left;
  color: #999;
  text-align: right;
  font-size: 10px;
  line-height: 10px;
}
.chat-input-area {
  width: 100%;
  height: 33px;
  background-color: var(--main-background-color);
}
.chat-input-area::after {
  clear: both;
}
.chat-input-text {
  float: left;
  width: 83.33333%;
  margin-bottom: 0;
}
.chat-input-area > button {
  float: left;
  width: 8.333333%;
}
.chat-length-area {
  position: fixed;
  height: 20px;
  width: 20;
  bottom: 15px;
  right: 15px;
  background-color: var(--impressive-color);
  border-radius: 10px;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
}
</style>