<template>
  <div class="input-field clearfix" :class="{invalid: invalid, 'disable-input-field': disabled}">
    <div
      ref="progress"
      :id="id"
      type="date"
      class="progress"
      :class="{'disable-input': disabled}"
      :max="progressMaxValue"
      @mousedown="mousedown"
      @mouseup="mouseup"
      @mousemove="mousemove"
      :disabled="disabled"
    >
      <div class="determinate" :style="{width: percent + '%'}"></div>
    </div>
    <div
      class="progress_value_display"
      :class="{'clickable': !disabled}"
      @click="complete()"
    >:{{Math.ceil(value || 0) }}%</div>
    <label :for="id">{{label}}</label>
  </div>
</template>
<script>
export default {
  props: {
    id: String,
    value: Number,
    disabled: Boolean,
    label: String,
    invalid: Boolean,
    minValue: {
      type: Number,
      default: 0
    },
    maxValue: {
      type: Number,
      default: 100
    }
  },
  data() {
    return {
      progressElement: null,
      dragging: false,
      progressMaxValue: 0,
      percent: 0
    };
  },
  methods: {
    calcPercent(v) {
      if (!this.value) {
        return this.minValue;
      }
      this.maxValue - this.minValue;
      var absoluteValue = this.value - this.minValue;
      var absoluteMax = this.maxValue - this.minValue;
      var per = Math.ceil((absoluteMax * absoluteValue) / 100);
      return per;
    },
    mousedown(e) {
      this.dragging = true;
      this.mousemove(e);
    },
    mouseup() {
      this.dragging = false;
    },
    mouseout() {
      this.dragging = false;
    },
    mousemove(e) {
      if (!this.dragging || this.disabled) {
        return;
      }
      var x = e.clientX - this.progressElement.getBoundingClientRect().left;
      var value =
        (x * (this.maxValue - this.minValue)) /
          this.progressElement.offsetWidth -
        this.minValue;
      if (value <= this.minValue + (this.maxValue - this.minValue) / 100) {
        value = this.minValue;
      }
      this.$emit("input", Math.ceil(value));
    },
    complete() {
      if (this.disabled) {
        return;
      }
      this.$emit("input", this.maxValue);
    }
  },
  mounted() {
    this.progressElement = this.$refs.progress;
    this.progressMaxValue = this.maxValue - this.minValue;
    this.percent = this.calcPercent();
  },
  updated() {
    this.percent = this.calcPercent();
  },
  watch: {
    value(v) {
      this.percent = this.calcPercent();
    }
  }
};
</script>
<style scoped>
.input-field {
  padding: 5px;
}
.progress {
  width: calc(100% - 45px);
  height: 14px;
  float: left;
  margin: 0;
  border-radius: 7px;
  background-color: #eee;
}
.determinate {
  transform: none;
  -webkit-transition: none;
}
.progress_value_display {
  width: 45px;
  line-height: 14px;
  float: left;
}
.clickable:hover {
  cursor: pointer;
}
label {
  transform: translateY(-16px) scale(0.8) !important;
}
</style>
