<template>
  <div>
    <div class="row event-header">
      <div class="col s4">{{event.ownerName}}</div>
      <div class="col s4">{{$t("todo.eventType."+event.type)}}</div>
      <div class="col s4">{{event.createdAt | date($t("dateformat"))}}</div>
    </div>
    <div class="row event-content" v-html="summaryToHtml(event.summary)"></div>
  </div>
</template>
<script>
const sanitizeHtml = require("sanitize-html");
export default {
  props: ["event"],
  methods: {
    summaryToHtml(summary) {
      if (!summary) {
        return "";
      }
      if (summary.type == "TODO_CREATE" || summary.type == "WIKI_CREATE") {
        return `<div class="col s12">${this.$t("todo.newCreated")}</div>`;
      } else if (summary.type == "TODO_CHANGE_ORDER") {
        return `<div class="col s12">${this.$t(
          "todo.orderChange." + summary.changed
        )}</div>`;
      } else if (summary.type == "TODO_UPDATE" || summary.type == "WIKI_UPDATE") {
        if (!summary.changed || summary.changed.length == 0) {
          return `<div class="col s12">${this.$t("todo.notChanged")}</div>`;
        }
        return summary.changed
          .map(c => {
            const title = c.customAttribute
              ? sanitizeHtml(c.title)
              : this.$t("todo." + c.title);
            if (c.diff) {
              const inner = c.diff
                .map(d => {
                  if (d.added) {
                    return `<span>${sanitizeHtml(d.value)}</span>`;
                  } else if (d.removed) {
                    return `<del>${sanitizeHtml(d.value)}</del>`;
                  } else {
                    return "";
                  }
                })
                .join("");
              return `<div class="col s12">${title}:${inner}</div>`;
            } else {
              return `<div class="col s12">${title}:${sanitizeHtml(
                c.from || '""'
              )}=&gt;${sanitizeHtml(c.to || '""')}</div>`;
            }
          })
          .join("");
      } else {
        return "";
      }
    }
  }
};
</script>
<style scoped>
.event-header > div {
  font-size: 10px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.42);
}
.event-header,
.event-content {
  margin-bottom: 0;
}
</style>
