<template>
  <div>
    <h2>{{$t("file.filesInTenant")}}</h2>
    <div
      v-if="files"
    >{{$t("file.totalCount", {totalCount:addComma(this.totalCount)})}}&nbsp;&nbsp;&nbsp;&nbsp;{{$t("file.sumOfSize", {sumOfSize:addComma(sumOfSize || 0) + " / " + addComma(tenantLimit)})}}</div>
    <div v-if="files" class="box wide-box">
      <div class="box_title">{{$t('file.file')}}</div>
      <div>
        <table style="width:100%">
          <thead>
            <tr>
              <th
                v-for="(title, titleIndex) in [$t('file.name'),$t('file.size'),$t('file.registedAt'),$t('file.register'),$t('group.group'),$t('todo.todo')]"
                :key="titleIndex"
              >{{title}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(file, index) in files" :key="index">
              <td>{{file.name}}</td>
              <td>{{file.size | addComma}}</td>
              <td>{{file.createdAt}}</td>
              <td>{{file.register && file.register.name}}</td>
              <td>
                <router-link
                  :to="'/group/'+(file.group && file.group.key)"
                >{{file.group && file.group.name}}</router-link>
              </td>
              <td>
                <router-link
                  :to="'/ticket/'+(file.todo && (file.todo.key || file.todo.id))"
                >{{file.todo && (file.todo.key || file.todo.id)}}</router-link>
              </td>
              <td>
                <button
                  class="custom-attribute-input waves-effect waves-light btn"
                  @click="deleteFile(file)"
                >{{$t('delete')}}</button>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div v-if="!files || files.length == 0">{{$t('file.noFile')}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import * as Tenant from "../js/model/Tenant";
export default {
  data() {
    return {
      files: null,
      totalCount: "-",
      sumOfSize: "-",
      tenantLimit: "-"
    };
  },
  methods: {
    async deleteFile(file) {
      this.$dialog.$emit("open", {
        confirm: true,
        message: this.$t("file.confirmDelete", { name: file.name }),
        execButton: this.$t("delete")
      });
      this.$dialog.$once("closed", async ok => {
        if (ok) {
          await Tenant.deleteFile(file);
          this.files = this.files.filter(f => f.id != file.id);
          this.totalCount--;
          this.sumOfSize -= file.size;
        }
      });
    },
    addComma(val) {
      if (typeof val == "number") {
        return val.toLocaleString();
      }
      try {
        var inted = parseInt(val);
        if (inted) {
          return inted.toLocaleString();
        }
      } catch (ignore) {}
      return val;
    }
  },
  async created() {
    const fileInfo = await Tenant.loadFiles();
    this.files = fileInfo.files;
    this.totalCount = fileInfo.info.count;
    this.sumOfSize = fileInfo.info.sum;
    this.tenantLimit = fileInfo.info.tenantLimit;
  }
};
</script>
