<template>
  <svg viewBox="0 0 16 16" class="icon-img">
    <polygon points="1 1, 1 15, 15 15, 15 1" :style="toColor(value)" stroke-width="2" />
    <g font-family="sans-serif" font-size="8">
      <text
        x="50%"
        y="50%"
        text-anchor="middle"
        dominant-baseline="central"
        fill="white"
      >{{(value+"")[0]}}</text>
    </g>
  </svg>
</template>
<script>
import stringToColor from "../js/util/Strings";
export default {
  props: ["value"],
  methods: {
    toColor(value) {
      var color = stringToColor(value);
      return `stroke: ${color}; fill: ${color};stroke-linejoin: round;`;
    }
  }
};
</script>