<template>
  <div>
    <h2>{{$t("group.group")}}</h2>
    <div>
      <div class="row">
        <input-text
          id="key"
          class="col s12"
          :value="upper(group.key)"
          @input="value=>group.key=upper(value)"
          :invalid="keyEmpty"
          :disabled="group.id || !editable"
          :label="$t('group.key')"
        />
        <input-text
          id="name"
          class="col s12"
          v-model="group.name"
          :invalid="nameEmpty"
          :disabled="!editable"
          :label="$t('group.name')"
        />
        <div class="row">
          <label
            class="input-field col s12"
            style="padding-top:5px;margin-bottom:0;"
            :class="{'disable-input-field': group.id}"
          >
            <label class="alwaysactive">{{$t("group.secretSetting")}}</label>
            <input
              v-if="!group.id"
              type="checkbox"
              class="filled-in"
              v-model="group.secret"
              :disabled="group.id"
            />
            <span id="secretLabel">{{group.secret ? $t("group.secret") : $t("group.open")}}</span>
          </label>
          <div class="row">
            <span class="helper-text col s12" v-if="group.secret">{{$t("group.secretDescription")}}</span>
          </div>
          <div class="row">
            <input-textarea
              id="description"
              class="col s12"
              rows="3"
              :disabled="!editable"
              v-model="group.description"
              :label="$t('group.description')"
            />
          </div>
        </div>
        <div class="row">
          <label class="alwaysactive col s12">アイコン</label>
          <div class="col s12">
            <croppa
              ref="croppa"
              v-if="editable"
              class="croppa"
              :width="100"
              :height="100"
              :image-border-radius="10"
              prevent-white-space
              :accept="'image/*'"
              :initial-image="group.iconUrlForDownload"
              v-model="imageModel"
              @new-image-drawn="imageDrawn()"
              @image-remove="imageDrawn()"
              @move="imageDrawn()"
              @zoom="imageDrawn()"
            >
              <img slot="initial" :src="group.iconUrlForDownload" />
            </croppa>
            <img v-if="!editable && group.iconUrl" class="croppa" :src="group.iconUrlForDownload" />
          </div>
        </div>
        <div class="row"></div>
        <hr />
        <div class="row"></div>

        <div class="row">
          <div v-if="editable">
            <account-select
              @selected="accountSelected"
              :ignores="group.members.concat(group.viewMembers)"
              class="col s8 group-account-input"
              :label="$t('group.appendsMember')"
              :button-label="$t('appends')"
            />
            <div class="col s4"></div>
          </div>
          <box-table
            v-model="group.members"
            class="wide-box"
            :title="$t('group.member')"
            :headers="[$t('account.name')]"
            :show-params="['name']"
            :can-be-empty="!group.secret"
            :editable="editable"
            :empty-message="$t('group.nomember')"
            :undeletable-ids="group.members && group.members.filter(m => m!= selfAccount.id)"
          />
        </div>

        <div class="row">
          <div v-if="editable">
            <account-select
              @selected="viewAccountSelected"
              :ignores="group.members.concat(group.viewMembers)"
              class="col s8 group-account-input"
              :label="$t('group.appendsMember')"
              :button-label="$t('appends')"
            />
            <div class="col s4"></div>
          </div>
          <box-table
            v-model="group.viewMembers"
            class="wide-box"
            :title="$t('group.viewMember')"
            :headers="[$t('account.name')]"
            :show-params="['name']"
            :can-be-empty="!group.secret"
            :editable="editable"
            :empty-message="$t('group.nomember')"
            :undeletable-ids="group.viewMembers && group.viewMembers.filter(m => m!= selfAccount.id)"
          />
        </div>
        <div class="row template-area">
          <input-textarea
            id="todoTemplate"
            class="col s12"
            rows="3"
            v-model="todoTemplate"
            :label="$t('group.todoTemplate')"
            :disabled="!editable"
          />
        </div>
        <div class="row custom-attribute-area">
          <div v-if="editable">
            <input-text
              class="col s2"
              id="newCustomAttributeTitle"
              v-model="newCustomAttribute.title"
              :invalid="newCustomAttributeTitleEmpty"
              :label="$t('customAttribute.title')"
            ></input-text>
            <input-text
              class="col s2"
              id="newCustomAttributeDescription"
              v-model="newCustomAttribute.description"
              :label="$t('customAttribute.description')"
            ></input-text>
            <input-select
              class="col s2 custom-attribute-input-select"
              :class="{invalid:newCustomAttributeTitleEmpty}"
              v-model="newCustomAttribute.type"
              :candidates="customAttributeKeyCandidates"
              :label="$t('customAttribute.type')"
              :option-display="key=>key ? $t('customAttribute.types.'+key) : ''"
            />
            <div v-if="newCustomAttribute.type!='SELECT'" class="col s3"></div>
            <input-text
              v-if="newCustomAttribute.type=='SELECT'"
              id="newCustomAttributeCandidates"
              class="col s3"
              v-model="newCustomAttribute.candidates"
              :label="$t('customAttribute.options')"
            ></input-text>
            <button
              class="col s3 custom-attribute-input waves-effect waves-light btn"
              :disabled="!isCustomAttributeAppendable()"
              @click="appendsCustomAttribute()"
            >{{$t('group.appendsCustomAttribute')}}</button>
          </div>
          <box-table
            v-model="group.customAttributes"
            class="wide-box custom-attribute-box"
            :title="$t('group.customAttribute')"
            :headers="[$t('customAttribute.title'),$t('customAttribute.description'),$t('customAttribute.type'),$t('customAttribute.options')]"
            :show-params="['title', 'description', (customAttribute) => $t('customAttribute.types')[customAttribute.type], 'candidates']"
            :can-be-empty="true"
            :editable="editable"
            :empty-message="$t('group.noCustomAttribute')"
            :isEditableParam="(arg, params)=>params == 'candidates' && arg.type == 'SELECT'"
          />
        </div>
        <div class="row"></div>
        <hr />
        <div class="row"></div>
        <div class="row integration-area">
          <div v-if="editable" class="row" style="margin-bottom:0">
            <input-select
              class="col s4 integration-select input-joined-input"
              v-model="newIntegration"
              :candidates="integrations"
              :label="$t('group.integration.integration')"
              :option-display="arg=>arg ? arg.key : ''"
            />
            <input-text
              id="sharedSecret"
              v-if="newIntegration && newIntegration.value == 'TEAMS'"
              class="col s6"
              v-model="sharedSecret"
              :label="$t('group.integration.sharedSecret')"
            />
            <button
              class="col s2 custom-attribute-input waves-effect waves-light btn input-joined-button"
              :disabled="!newIntegration"
              @click="createIntegration"
            >{{$t('appends')}}</button>
          </div>
          <div
            v-if="newIntegration && newIntegration.value == 'TEAMS' && preKey"
            class="row integrationCandidateUrl"
            style="margin-bottom:0; font-size:10px"
          >
            {{$t("group.integrationCandidateUrl")}}: {{integrationToUrl({type:"TEAMS", key:preKey})}}
            <i
              data-v-fa91ea8a
              class="material-icons copy-link"
              @click="copyUrlToClipboard(preKey)"
            >content_copy</i>
          </div>
          <box-table
            v-model="group.integrations"
            class="wide-box integrations-box"
            :title="$t('group.integration.integration')"
            :headers="[$t('group.integration.name'),$t('group.integration.url')]"
            :show-params="[(integration) => integrations.find(i =>i.value == integration.type).key, (integration) => integrationToUrl(integration)]"
            :can-be-empty="true"
            :editable="editable"
            :empty-message="$t('group.integration.noIntegration')"
          />
        </div>
      </div>
    </div>
    <div class="row" v-if="!editable">
      <div class="col s12">
        <a href="#" @click.prevent="exportToZip">{{$t("group.exportZip")}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col s2">
        <button
          id="createButton"
          v-if="editable"
          class="waves-effect waves-light btn"
          @click="registGroup"
          :disabled="saving"
        >
          <i class="material-icons left">cloud</i>
          {{group.id ? $t("save") : $t("appends")}}
        </button>
        <button
          id="editButton"
          v-if="!editable"
          class="waves-effect waves-light btn"
          @click="editGroup"
        >
          <i class="material-icons left">create</i>
          {{$t("edit")}}
        </button>
      </div>

      <div class="col s2 offset-s8 right-align" v-if="editable">
        <button
          id="cancelButton"
          class="waves-effect waves-light btn-flat cancel-button"
          @click="cancelEdit()"
        >{{$t("cancel")}}</button>
      </div>
      <div class="col s2 offset-s8 right-align" v-if="!editable">
        <button
          id="deleteButton"
          class="waves-effect waves-light btn red"
          @click="openDeleteGroupConfirmDialog"
        >
          <i class="material-icons left">delete_forever</i>
          {{$t("delete")}}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import * as Group from "../js/model/Group";
import * as Account from "../js/model/Account";
import * as SprintBar from "../js/model/SprintBar";
import * as Wiki from "../js/model/Wiki";
import * as Files from "../js/util/Files";
import InputText from "./InputText";
import InputTextarea from "./InputTextarea";
import AccountSelect from "./AccountSelect";
import BoxTable from "./BoxTable";
import InputSelect from "./InputSelect";
import { isUrl, randomString } from "../../../app/server/util/stringUtil";
import Croppa from "vue-croppa";

export default {
  components: {
    InputText,
    InputTextarea,
    AccountSelect,
    BoxTable,
    InputSelect,
    Croppa: Croppa.component
  },
  data() {
    return {
      group: {},
      editable: false,
      nameEmpty: false,
      keyEmpty: false,
      selfAccount: {},
      newCustomAttribute: {},
      newCustomAttributeTitleEmpty: false,
      newCustomAttributeTypeEmpty: false,
      customAttributeKeyCandidates: Object.keys({
        //copy from server model
        TEXT: "TEXT",
        TEXTAREA: "TEXTAREA",
        INT: "INT",
        SELECT: "SELECT",
        DATE: "DATE"
        //       ACCOUNT: "ACCOUNT",
      }),
      saving: false,
      todoTemplate: null,
      newIntegration: null,
      sharedSecret: null,
      integrations: [
        { key: "GitLab", value: "GITLAB" },
        { key: "Azure DevOps", value: "AZURE_DEVOPS" },
        { key: "GitHub", value: "GITHUB" },
        { key: "Slack", value: "SLACK" },
        { key: "Microsoft Teams", value: "TEAMS" }
      ],
      croppaInited: false,
      imageUpdated: false,
      imageModel: null
    };
  },
  methods: {
    upper(value) {
      if (!value) {
        return value;
      }
      return value.toUpperCase();
    },
    async registGroup() {
      if (!this.group.name) {
        this.nameEmpty = true;
        return;
      }
      if (!this.group.key || !this.group.key.match(/^[A-Z\-]+$/g)) {
        this.keyEmpty = true;
        return;
      }
      this.saving = true;
      setTimeout(async () => {
        if (this.imageUpdated) {
          const blob = await this.$refs.croppa.promisedBlob("image/png", 0.5);
          if (!blob) {
            this.group.iconUrl = null;
          } else {
            const uploaded = await Group.uploadFile(this.group.id, {
              name: "icon.png",
              size: blob.size,
              type: "image/png",
              blob
            });
            const iconUrl = uploaded.headers.location || uploaded.file.url;
            this.group.iconUrl = iconUrl;
          }
        }
        this.group.todoTemplate = {
          content: this.todoTemplate
        };
        var registedGroup;
        try {
          registedGroup = await Group.uploadGroup(this.group);
          this.group = registedGroup;
          await this.init();
        } catch (e) {
          this.saving = false;
          if (e.response && e.response.status == 409) {
            this.keyEmpty = true;
            return;
          }
          this.$warn(this.$t("group.errors.cantRegist"));
          return;
        }
        const toHomeAfterSave = !this.group.id;
        //force reload for reset socket.
        location.href =
          "/group/" + registedGroup.key + (toHomeAfterSave ? "" : "/setting");
      });
    },
    editGroup() {
      this.editable = true;
    },
    accountSelected(account) {
      this.group.members.push(account);
      setTimeout(() => this.$forceUpdate(), 0);
    },
    viewAccountSelected(account) {
      this.group.viewMembers.push(account);
      setTimeout(() => this.$forceUpdate(), 0);
    },
    deleteAccountFromGroup(account) {
      this.group.members = this.group.members.filter(a => account.id != a.id);
      setTimeout(() => this.$forceUpdate(), 0);
    },
    deleteButtonVisible() {
      return this.group.members.length > 1;
    },
    candidateFilter(accounts) {
      return accounts.filter(a => !this.group.members.some(a));
    },
    isCustomAttributeAppendable() {
      return (
        this.newCustomAttribute &&
        this.newCustomAttribute.title &&
        this.newCustomAttribute.type &&
        (this.newCustomAttribute.type != "SELECT" ||
          this.newCustomAttribute.candidates)
      );
    },
    appendsCustomAttribute() {
      if (!this.isCustomAttributeAppendable()) {
        return;
      }
      if (!this.group.customAttributes) {
        this.group.customAttributes = [];
      }
      this.group.customAttributes.push(this.newCustomAttribute);
      this.newCustomAttribute = {};
    },
    async init() {
      if (this.group.customAttributes) {
        this.group.customAttributes.sort((a, b) => a.order - b.order);
      }
      if (this.group.todoTemplate) {
        this.todoTemplate = this.group.todoTemplate.content;
      } else {
        this.todoTemplate = null;
      }
      if (!this.group.member) {
        this.group.memver = [];
      }
      if (!this.group.viewMember) {
        this.group.viewMember = [];
      }
      if (!this.group.integrations) {
        this.group.integrations = [];
      }
      if (this.group.iconUrl) {
        this.croppaInited = false;
      } else {
        this.croppaInited = true;
      }
    },
    createIntegration() {
      if (!this.newIntegration) {
        return;
      }
      if (this.newIntegration.value == "TEAMS" && !this.sharedSecret) {
        return;
      }
      var integration = {
        key:
          (this.newIntegration.value == "TEAMS" && this.preKey) ||
          randomString(10),
        type: this.newIntegration.value
      };
      if (integration.type == "TEAMS") {
        integration.sharedSecret = this.sharedSecret;
      }
      this.group.integrations.push(integration);
      this.newIntegration = null;
      this.sharedSecret = null;
    },
    integrationToUrl(integration) {
      return (
        location.protocol +
        "//" +
        location.host +
        "/webhook/groups/" +
        this.group.key +
        "/integrations/" +
        integration.type +
        "/" +
        integration.key
      );
    },
    copyUrlToClipboard(preKey) {
      var url = this.integrationToUrl({ type: "TEAMS", key: preKey });
      const blob = new Blob([url], {
        type: "text/plain"
      });
      const item = new ClipboardItem({
        "text/plain": blob
      });
      navigator.clipboard.write([item]);
    },
    imageDrawn() {
      if (!this.croppaInited) {
        this.croppaInited = true;
        return;
      }
      this.imageUpdated = true;
    },
    async exportToZip() {
      var todos, bars, group, wiki;
      await Promise.all([
        (async () => (todos = await Group.loadGroupsTodo(this.group.id)))(),
        (async () => (bars = await SprintBar.loadSprintBar(this.group.id)))(),
        (async () => (group = await Group.loadGroup(this.group.id)))(),
        (async () => (wiki = await Wiki.loadAll(this.group.id, true)))()
      ]);
      var me = await Account.getAccount();
      console.log("zipppify " + todos.length);
      var zip = await Files.zip(me, group, todos, bars, wiki, e => {
        console.log(JSON.stringify(e));
      });
      Files.download("group_" + group.key + ".zip", zip);
    },
    async importFromZip(file) {
      const zip = Files.readZip(file);
      const info = zip.info;
      const files = zip.files;
      for (var i = 0; i < files.length; i++) {}
    },
    openDeleteGroupConfirmDialog() {
      this.$dialog.$once("closed", async text => {
        if (!text || text != this.group.key) {
          return;
        }
        await Group.deleteGroup(this.group);
        location.href = "/";
      });
      this.$dialog.$emit("open", {
        title: this.$t("group.confirmDelete", { group: this.group.name }),
        inputText: true,
        placeholder: this.$t("group.key"),
        description: this.$t("group.inputGroupKeyIfDeleteGroup", {
          key: this.group.key
        }),
        execButton: this.$t("delete")
      });
    },
    async cancelEdit() {
      this.editable = false;
      await this.loadInfo();
      await this.init();
      this.$forceUpdate();
    },
    async loadInfo() {
      this.selfAccount = await Account.getAccount();
      if (this.$route.params.groupId) {
        try {
          this.group = await Group.loadGroup(this.$route.params.groupId);
        } catch (e) {
          this.$router.push("/");
        }
      } else {
        this.group.members = [await Account.getAccount()];
      }
      if (
        location.pathname.indexOf("/edit") > 0 ||
        location.pathname == "/group/new"
      ) {
        this.editable = true;
      }
      if (this.editable) {
        setTimeout(() => M.updateTextFields());
      }
    }
  },
  async beforeMount() {
    await this.loadInfo();
    await this.init();
  },
  mounted() {
    setTimeout(() => M.updateTextFields(), 1000);
  },
  watch: {
    group: {
      handler: async function(group) {
        this.nameEmpty = !group.name;
        this.keyEmpty = !group.key;

        if (this.group.iconUrl) {
          this.croppaInited = false;
          this.group.iconUrlForDownload = (
            await Group.getFileDownloadUrl(this.group.id, this.group.iconUrl)
          ).url;
          this.$forceUpdate();
        }
      },
      deep: true
    },
    newCustomAttribute: {
      handler: function(attribute) {
        if (attribute.type == "SELECT") {
          setTimeout(() => M.updateTextFields());
        }
      },
      deep: true
    },
    newIntegration: {
      handler: function(integrationSelect) {
        if (integrationSelect && integrationSelect.value == "TEAMS") {
          this.preKey = randomString(10);
        } else {
          this.preKey = null;
        }
      }
    }
  }
};
</script>
<style scoped>
th {
  padding: 0 10px;
}
#key {
  margin-top: 15px;
}
.wide-box {
  width: 100%;
}
.integrationCandidateUrl {
  font-size: 5px;
  transform: translateY(-14px);
}
.copy-link {
  margin-left: 5px;
  font-size: 10px;
  line-height: 10px;
}
.copy-link:hover {
  cursor: pointer;
}
.croppa {
  width: 100px;
  height: 100px;
  border: solid 1px #666;
  border-radius: 5px;
}
</style>