<template>
  <div class="input-field" :class="{'disable-input-field': disabled}">
    <div class="select-wrapper">
      <input
        type="text"
        readonly="true"
        :value="name"
        :class="{'disable-input': disabled && !noRoute, 'select-dropdown': !disabled, 'dropdown-trigger': !disabled}"
        @click="toggleShowSelectOrMove()"
      />
      <ul v-if="showSelect && !disabled" class="dropdown-content select-dropdown" tabindex="0">
        <li class="disabled" tabindex="0">
          <span>{{$t("group.group")}}</span>
        </li>
        <li v-if="showself" tabindex="0" :default="{selected: value == 0}" @click="select('self')">
          <span>{{$t("todo.self")}}</span>
        </li>
        <li
          v-for="(group, index) in groups"
          :key="index"
          tabindex="0"
          :class="{selected: value == group.id}"
          @click="select(group)"
          :default="group.id == value"
        >
          <span>{{group.name}}</span>
        </li>
      </ul>
      <svg
        v-if="!disabled"
        class="caret"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7 10l5 5 5-5z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </div>
    <label class="alwaysactive">{{$t("group.group")}}</label>
  </div>
</template>
<script>
import * as Group from "../js/model/Group";
export default {
  props: ["value", "showself", "disabled", "noRoute"],
  data() {
    return {
      showSelect: false,
      groups: null,
      name: null
    };
  },
  methods: {
    findGroup() {
      return this.groups.find(g => g.id == this.value || g.key == this.value);
    },
    select(group) {
      this.name = group == "self" ? this.$t("todo.self") : group.name;
      this.$emit("input", group == "self" ? 0 : group.id);
      this.showSelect = false;
    },
    toggleShowSelectOrMove() {
      if (this.disabled) {
        if (this.noRoute) {
          return;
        }
        this.$router.push(`/group/${this.findGroup().key}`);
      } else {
        this.showSelect = !this.showSelect;
      }
    }
  },
  async beforeMount() {
    this.groups = (await Group.loadSelfGroups()).filter(
      g => g.type != "VIEWER"
    );
    this.name = this.showself ? this.$t("todo.self") : this.findGroup().name;
  },
  watch: {
    value(val) {
      if (!val || !this.groups || this.groups.length == 0) {
        if (this.showself) {
          this.name = this.$t("todo.self");
        }
        return;
      }
      this.name =
        this.value && this.value != "self" && this.groups
          ? this.findGroup().name
          : this.$t("todo.self");
    }
  }
};
</script>

<style scoped>
ul {
  display: block;
  width: 270.234px;
  left: 0px;
  top: -155.5px;
  height: 200px;
  transform-origin: 0px 100%;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
input {
  color: initial;
}
.disable-input {
  cursor: pointer;
}
</style>
