<template>
  <div class="collapsible-header">
    <img v-if="group.iconURL" class="group-img" :src="group.iconURL" />
    <generated-icon value="group.name" />
    <span class="name">{{group.name}}</span>
  </div>
</template>
<script>
import GeneratedIcon from "./GeneratedIcon";
import stringToColor from "../js/util/Strings";
export default {
  props: ["group", "showName"],
  components: { GeneratedIcon },
  methods: {
    toColor(group) {
      var color = stringToColor(group.name);
      return `stroke: ${color}; fill: ${color};stroke-linejoin: round;`;
    }
  }
};
</script>
<style scoped>
.group-img {
  width: 44px;
  height: 44px;
}
.name {
  line-height: 44px;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10px;
}
</style>