<template>
  <div :id="id" class="row" style="margin:0" v-if="customAttributeValue">
    <input-text
      class="col s12"
      v-if="customAttribute.type=='TEXT'"
      :label="customAttribute.title"
      :value="customAttributeValue.stringValue"
      @input="onChangeStringValue"
      :disabled="disabled"
    ></input-text>
    <input-textarea
      class="col s12"
      v-if="customAttribute.type=='TEXTAREA'"
      :label="customAttribute.title"
      :value="customAttributeValue.stringValue"
      @input="onChangeStringValue"
      :disabled="disabled"
    ></input-textarea>
    <input-text
      class="col s12"
      v-if="customAttribute.type=='INT'"
      only-int="true"
      :label="customAttribute.title"
      :value="customAttributeValue.intValue"
      @input="onChangeIntValue"
      :disabled="disabled"
    ></input-text>
    <input-date
      class="col s12"
      v-if="customAttribute.type=='DATE'"
      :label="customAttribute.title"
      :value="customAttributeValue.dateValue"
      @input="onChangeDateValue"
      :disabled="disabled"
    ></input-date>
    <input-select
      class="col s12"
      v-if="customAttribute.type=='SELECT'"
      :label="customAttribute.title"
      :candidates="divide(customAttribute.candidates)"
      :value="customAttributeValue.stringValue"
      @input="onChangeStringValue"
      :disabled="disabled"
      :allow-empty="allowEmpty"
    ></input-select>
    <account-select
      class="col s12"
      v-if="customAttribute.type=='ACCOUNT'"
      :value="customAttributeValue.stringValue"
      @input="onChangeStringValue"
      :disabled="disabled"
    ></account-select>
  </div>
</template>
<script>
import InputText from "./InputText";
import InputTextarea from "./InputTextarea";
import InputDate from "./InputDate";
import AccountSelect from "./AccountSelect";
import InputSelect from "./InputSelect";
export default {
  components: {
    InputText,
    InputTextarea,
    InputDate,
    AccountSelect,
    InputSelect
  },
  props: [
    "id",
    "customAttribute",
    "customAttributeValue",
    "candidates",
    "disabled",
    "allowEmpty"
  ],
  methods: {
    divide(candidates) {
      if (!candidates) {
        return candidates;
      }
      return candidates.split(",").map(s => s.trim());
    },
    onChangeStringValue(data) {
      this.$emit("input-string", data);
    },
    onChangeIntValue(data) {
      this.$emit("input-int", data);
    },
    onChangeDateValue(data) {
      this.$emit("input-date", data);
    }
  }
};
</script>
