<template>
  <div class="input-field" :class="{invalid: invalid, 'disable-input-field': disabled}">
    <textarea
      :id="id"
      ref="textarea"
      :rows="rows"
      class="materialize-textarea"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @dragover.prevent="$emit('dragover', $event)"
      @dragleave.prevent="$emit('dragleave', $event)"
      @drop.prevent="$emit('drop', $event)"
      @paste="$emit('paste', $event)"
      :disabled="disabled"
      @keydown.ctrl.66="$emit('ctrl_b', $event)"
      @keydown.meta.66="$emit('ctrl_b', $event)"
      :class="{'disable-input': disabled}"
      :style="textStyle"
    ></textarea>
    <label :for="id" :class="{alwaysactive: disabled || value}">{{label}}</label>
  </div>
</template>
<script>
export default {
  props: ["id", "value", "disabled", "label", "invalid", "rows", "textStyle"],
  mounted() {
    M.textareaAutoResize(this.$refs.textarea);
  }
};
</script>
<style scoped>
textarea {
  min-height: 100px;
}
</style>