<template>
  <div class="input-field" :class="{'disable-input-field': disabled}">
    <div class="select-wrapper">
      <input
        type="text"
        readonly="true"
        :value="optionDisplay ? optionDisplay(x_value) : x_value"
        :class="{'select-dropdown': !disabled, 'dropdown-trigger': !disabled, 'disable-input': disabled}"
        @click="toggleShowSelect()"
        :id="x_id"
      />
      <ul v-if="showSelect && !disabled" class="dropdown-content select-dropdown" tabindex="0">
        <li v-if="allowEmpty" tabindex="0" @click="select(null)" :default="!value"></li>
        <li
          v-for="(key,index) in candidates"
          :key="index"
          tabindex="0"
          :class="{selected: value == key}"
          @click="select(key)"
          :default="value == key"
        >
          <span>{{optionDisplay ? optionDisplay(key) : key}}</span>
        </li>
      </ul>
      <svg
        v-if="!disabled"
        class="caret"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7 10l5 5 5-5z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </div>
    <label :for="x_id" class="alwaysactive">{{label}}</label>
  </div>
</template>
<script>
var formInitialized = false; //call M.FormSelect.init(elems); twice. it will broken.
export default {
  props: [
    "id",
    "value",
    "disabled",
    "label",
    "invalid",
    "optionDisplay",
    "candidates",
    "titleLabel",
    "disselectable",
    "allowEmpty"
  ],
  data() {
    return {
      showSelect: false,
      x_value: null,
      x_id: null
    };
  },
  methods: {
    select(value) {
      this.$emit("input", value);
      this.showSelect = false;
      this.x_value = value;
    },
    toggleShowSelect() {
      this.showSelect = !this.showSelect;
    }
  },
  beforeMount() {
    this.x_value = this.value;
    if (!this.id) {
      this.x_id = this._uid;
    } else {
      this.x_id = this.id;
    }
  },
  watch: {
    value(val) {
      this.x_value = val;
    }
  }
};
</script>
<style scoped>
ul {
  display: block;
  width: 270.234px;
  left: 0px;
  top: 0px;
  height: 200px;
  transform-origin: 0px 100%;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
</style>
