<template>
  <div class="input-field" :class="{invalid: invalid, 'disable-input-field': disabled}">
    <input
      :id="id"
      :type="type ? type : onlyInt ? 'number' : 'text'"
      class="validate"
      :class="{'disable-input': disabled, 'iconactive': icon}"
      :value="value"
      @input="$emit('input', $event.target.value)"
      :disabled="disabled"
      :autocomplete="autocomplete || 'on'"
      :pattern="pattern"
      @keypress="$emit('keypress')"
      @keypress.prevent.enter.exact="enableEnter=true"
      @keyup.prevent.enter.exact="()=>{if(enableEnter){$emit('keypressEnter', $event)};enableEnter=false}"
      @blur="$emit('blur')"
      :placeholder="placeholder"
    />

    <i v-if="icon" class="material-icons" @click="$emit('iconClicked')">{{icon}}</i>
    <label
      :for="id"
      :class="{active: disabled || labelActive || invalid || value || type, error:invalid}"
    >
      {{label}}
      <span v-if="invalid && invalidMessage">{{invalidMessage}}</span>
    </label>
  </div>
</template>
<script>
export default {
  props: [
    "id",
    "value",
    "disabled",
    "label",
    "invalid",
    "onlyInt",
    "autocomplete",
    "pattern",
    "placeholder",
    "icon",
    "labelActive",
    "invalidMessage",
    "type",
  ],
  data() {
    return {
      enableEnter: false,
    };
  },
};
</script>
<style scoped>
.input-field label {
  width: auto !important;
}
.input-field input.iconactive {
  width: calc(100% - 35px);
}
.input-field {
  position: relative;
}
.input-field i {
  position: absolute;
  right: 5px;
  top: 5px;
}
.input-field i:hover {
  cursor: pointer;
}
</style>
