<template>
  <div class="top">
    <div class="row head">
      <div class="col s12 m6 clearfix">
        <img class="title-image" src="/images/frat_icon.png" />
        <div class="title">fRat</div>
      </div>
      <div class="col s6 m3">
        <button
          class="waves-effect waves-light btn"
          @click="$router.push('/space/new')"
        >{{$t("landing.createTenant")}}</button>
      </div>
      <div class="col s6 m3">
        <button
          id="toLoginButton"
          class="waves-effect waves-light btn"
          @click="$router.push('/login')"
        >{{$t("landing.login")}}</button>
      </div>
    </div>
    <div class="landing-body">
      <div style="padding:10px;">
        <div class="row" style="margin:0">
          <div class="col s12 top-read" style="color:#8B8" v-html="$t('landing.topRead')"></div>
          <img class="col s12 m6 offset-m3" src="/images/landing.svg" />
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s11 offset-s1">
          <h2>{{$t("landing.howToUse")}}</h2>
        </div>
        <div class="col s10 offset-s1" v-html="$t('landing.usageDescription')"></div>
      </div>
      <div class="row">
        <img class="col s12 m6 offset-m3" src="/images/frat.spaceandgroup.svg" />
      </div>
      <div class="row"></div>
      <div class="row footer">
        <div class="col s2 offset-s1">
          <div>
            <a href="//frat.work/jp/terms/">{{$t("terms")}}</a>
          </div>
        </div>
        <div class="col s2">
          <div>
            <a href="//frat.work/jp/privacy_policy/">{{$t("privacyPolicy")}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      threePoint: [
        {
          title: this.$t("landing.connected.title"),
          description: this.$t("landing.connected.description"),
          image: "images/system-3699542_640.jpg"
        },
        {
          title: this.$t("landing.together.title"),
          description: this.$t("landing.together.description"),
          image: "images/thought-4521081_640.jpg"
        },
        {
          title: this.$t("landing.refer.title"),
          description: this.$t("landing.refer.description"),
          image: "images/network-1989147_640.jpg"
        }
      ]
    };
  }
};
</script>
<style scoped>
h2 {
  font-size: 2em;
}
.top {
  background-color: var(--main-background-color);
}
.langing-img {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
  background-image: url(/images/macbook1983-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  margin-bottom: 0;
}
.head button {
  width: calc(100% - 10px);
  margin: 5px 5px;
  height: 30px;
  line-height: 30px;
}
.card-image img {
  height: 200px;
}
.landing-body {
  height: calc(100% - 46px);
  overflow: scroll;
  width: 100%;
}
.footer {
  background-color: #ccc;
  margin: 0;
  padding-bottom: 40px;
}
.footer a {
  color: white;
}
.plan-title {
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: var(--main-color);
  margin-bottom: 10px;
}
.plan-description {
  height: 70px;
}
.plan-plicing {
  font-size: 1.2em;
  color: var(--main-color);
}
.plan-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}
.plan-detail div {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
</style>
<style>
.top-read {
  font-size: 36px;
  color: white;
}
.sub-read {
  padding: 10px;
  background-color: var(--main-background-color);
  color: var(--basic-front-color);
}
.sub-read ul {
  margin-bottom: 1em;
}
.sub-read ul li:before {
  display: inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content: "";
  width: 15px;
  height: 15px;
  background: var(--main-color);
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.sub-read > ul > ul > li:before {
  width: 0px;
  margin-left: 15px;
}

.sub-read > ul > ul > li:last-child {
  margin-bottom: 8px;
}
</style>
