<template>
  <main>
    <center>
      <div class="section"></div>
      <span>
        <a href="/">
          <img class="title-image" src="/images/frat_icon.png" />
        </a>
      </span>
      <h5 class="indigo-text">{{$t("login.login")}}</h5>
      <div class="section"></div>
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row main-container">
          <div class="row">
            <div class="input-field col s12" v-if="subdomain">
              <input
                class="validate"
                type="text"
                name="subdomain"
                id="subdomain"
                style="width:65%;"
                v-model="subdomain"
                :class="{invalid: subdomainInvalid}"
                :disabled="inputKey"
                @keyup="validateSubdomain"
              />
              <span style="line-height: 16px;">{{baseDomain()}}</span>
              <label for="subdomain">{{$t("login.subdomain")}}</label>
            </div>
            <div class="input-field col s12">
              <input
                class="validate"
                type="email"
                name="email"
                id="email"
                v-model="mail"
                :class="{invalid: mailInvalid}"
                :disabled="inputKey"
              />
              <label for="email">{{$t("login.mail")}}</label>
            </div>
            <div v-if="inputKey" class="input-field col s12">
              <input
                class="validate"
                type="text"
                name="key"
                id="key"
                v-model="key"
                :class="{invalid: keyInvalid}"
              />
              <label for="key">{{$t("login.key")}}</label>
            </div>
            <div v-if="errorMessageKey" class="col s12 error-message">{{$t(errorMessageKey)}}</div>
            <button
              v-if="!inputKey"
              type="submit"
              id="sendKeyButton"
              name="btn_sendkey"
              class="col s12 btn waves-effect"
              @click="sendLoginKey"
              :disabled="subdomainInvalid || mailInvalid || executing"
            >{{$t("login.sendLoginKey")}}</button>

            <button
              v-if="inputKey"
              type="submit"
              id="loginButton"
              name="btn_login"
              class="col s12 btn waves-effect"
              @click="login"
              :disabled="!key || executing"
            >{{$t("login.login")}}</button>
          </div>
          <div class="row" style="margin-bottom:0">
            <div class="col s4">
              <a href="//frat.work/jp/terms/">&gt;{{$t("terms")}}</a>
            </div>
            <div class="col s8">
              <a href="//frat.work/jp/privacy_policy/">&gt;{{$t("privacyPolicy")}}</a>
            </div>
            <div class="col s12 useAsAgreeTerms">{{$t("useAsAgreeTerms")}}</div>
          </div>
        </div>
      </div>
      <br />
      <a
        href="#"
        v-if="inputKey && !requesting"
        @click="sendLoginKey"
      >{{$t("login.resendLoginKey")}}</a>
      <div v-if="requesting" id="requestingToJoinMessage">{{$t("login.requestingToJoin")}}</div>
    </center>
    <div class="section"></div>
    <div class="section"></div>
  </main>
</template>
<script>
import * as Account from "../js/model/Account";
import * as Tenant from "../js/model/Tenant";
import * as Strings from "../js/util/Strings";
export default {
  data() {
    return {
      subdomain: "",
      mail: "",
      key: "",
      subdomainInvalid: false,
      mailInvalid: false,
      keyInvalid: false,
      inputKey: false,
      tenantKeyParamPresent: false,
      requesting: false,
      executing: false,
      errorMessageKey: null
    };
  },
  methods: {
    hasInvalidMail() {
      return (
        !this.mail ||
        !this.mail.match(
          /^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/
        )
      );
    },
    async sendLoginKey(e) {
      e.preventDefault();
      if (this.hasInvalidMail()) {
        this.mailInvalid = true;
        return;
      }
      this.mailInvalid = false;
      this.executing = true;
      try {
        await Account.requestSendLoginKey(this.mail, this.subdomain);
        this.inputKey = true;
      } catch (ignore) {
        this.$warn($t("login.error.cantSendKey"));
      }
      this.executing = false;
    },
    baseDomain() {
      return Strings.baseDomain(location.host);
    },
    async login() {
      if (!this.key) {
        this.keyInvalid = true;
        return;
      }
      this.executing = true;
      try {
        const status = await Account.login(this.mail, this.key, this.subdomain);
        if (!this.subdomain) {
          this.$router.push(status == 201 ? "/?firstLogin=true" : "/");
          return;
        }
        var baseDomain = Strings.baseDomain(location.host);
        location.href =
          location.protocol + "//" + this.subdomain + "." + baseDomain;
      } catch (e) {
        if (e.message && e.message.indexOf("423") > 0) {
          this.requesting = true;
        } else if (e.message && e.message.indexOf("409") > 0) {
          this.subdomainInvalid = true;
          this.$warn($t("login.error.failedToCreateTenant"));
        } else if (e.message && e.message.indexOf("404") > 0) {
          this.subdomainInvalid = true;
          this.errorMessageKey = this.$t("login.error.subdomainNotFound");
        } else {
          this.keyInvalid = true;
        }
      }
      this.executing = false;
    },
    async validateSubdomain() {
      if (!this.subdomain) {
        this.subdomainInvalid = true;
        return;
      }
      this.subdomain = this.subdomain.toLowerCase();
      if (!this.subdomain.match(/^[a-z\-]{5,}$/g)) {
        this.subdomainInvalid = true;
        return;
      }
      this.subdomainInvalid = await Tenant.tenantExistsHasKey(this.subdomain);
    }
  },
  beforeMount: async function() {
    try {
      if (await Account.getAccount()) {
        this.$router.push("/");
      }
    } catch (ignore) {}
    this.mail = this.$route.query.mail || "";
    this.key = this.$route.query.key || "";
    this.subdomain = this.$route.query.subdomain || "";
    if (this.key) {
      this.inputKey = true;
    }
    if (this.mail || this.key || this.subdomain) {
      setTimeout(() => M.updateTextFields());
    }
  },
  watch: {
    mail(m) {
      this.mailInvalid = this.hasInvalidMail();
      return;
    }
  }
};
</script>
<style scoped>
.title-image {
  height: 50px;
}
.main-container {
  display: inline-block;
  padding: 32px 48px 32px 48px;
  border: 1px solid #eee;
  width: 400px;
}
.useAsAgreeTerms {
  font-size: 10px;
  color: indianred;
}
.error-message {
  color: var(--error-text-color);
  font-size: 14px;
}
</style>