<template>
  <div class="markdown" v-html="html" />
</template>
<script>
import * as Group from "../js/model/Group";
const showdown = require("showdown");
const converter = new showdown.Converter({
  ghCompatibleHeaderId: true,
  parseImgDimensions: true,
  tables: true,
  ghCodeBlocks: true,
  tasklists: true,
  simpleLineBreaks: true,
  simplifiedAutoLink: true,
  openLinksInNewWindow: true,
  literalMidWordUnderscores: true,
  strikethrough: true,
  disableForced4SpacesIndentedSublists: true,
  //ghMentions and ghMentionsLink is useful but now we dont have user page.
  emoji: true,
});
const imageRegex = /(<img.*?src\s*?=\s*?[\"|\'])(.*?)([\"|\'].*?)>/gim;
const aRegex = /(<a.*?href\s*?=\s*?[\"|\'])(.*?)([\"|\'].*?)>/gim;
window.aInMarkdownClicked = async (event, groupId, href) => {
  event.preventDefault();
  try {
    href = (await Group.getFileDownloadUrl(groupId, href)).url;
  } catch (e) {}
  const win = window.open(href, "_blank", "noopener");
  win.opener = null;
  win.location = href;
};
export default {
  props: ["value", "groupId"],
  data() {
    return { html: null };
  },
  methods: {
    async marked() {
      if (!this.value) {
        this.html = this.value;
        return;
      }
      var html = converter.makeHtml(this.value);
      var urlFunctions = [];
      html.replace(imageRegex, (s, b, src, a) => {
        urlFunctions.push(
          new Promise(async (res) => {
            try {
              res(await Group.getFileDownloadUrl(this.groupId, src));
            } catch (e) {
              return res({ url: src });
            }
          })
        );
        return "";
      });
      var urls = await Promise.all(urlFunctions);
      html = html.replace(imageRegex, (s, b, src, a) => {
        return `${b}${urls.shift().url}${a} style="max-width:100%">`;
      });
      html = html.replace(aRegex, (s, b, href, a) => {
        return (
          b +
          href +
          a +
          ` onclick="aInMarkdownClicked(arguments[0], '${this.groupId}', '${href}')">`
        );
      });
      this.html = html;
    },
  },
  async beforeMount() {
    await this.marked();
  },
  watch: {
    async value(v) {
      await this.marked();
    },
    async groupId(v) {
      await this.marked();
    },
  },
};
</script>
<style>
.markdown {
  margin-bottom: 14px;
  border-radius: 3px;
  background-color: white;
  padding: 1rem 0.75rem !important;
}
.markdown h1 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  border-bottom: 2px solid var(--main-color);
}
.markdown h2 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid var(--main-color);
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 14px;
}
.markdown p {
  font-size: 12px;
}
.markdown *:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
}
.markdown blockquote {
  border-left: 5px solid var(--main-color);
}
.markdown table {
  width: auto;
}
.markdown td,
.markdown th {
  font-size: 12px;
  padding: 2px 5px;
  display: table-cell;
  vertical-align: auto;
  border-radius: 2px;
  border-collapse: collapse;
  border: 1px solid #aaa;
}
.markdown th {
  text-align: center;
  background-color: var(--main-color);
  color: var(--main-front-color);
}
.markdown strong {
  font-weight: bold;
}
.markdown td {
  text-align: auto;
}
.markdown pre {
  overflow-x: scroll;
  padding: 10px;
  background-color: #f9f9f9;
  border: solid 1px #e9e9e9;
}
.markdown li li {
  padding-left: 20px;
}
.markdown ul > li::before {
  content: "・";
}
</style>
