<template>
  <main>
    <center>
      fRat
      <div class="section"></div>

      <h5 class="indigo-text">{{$t("tenant.create")}}</h5>
      <div class="section"></div>
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row main-container">
          <div class="row">
            <div class="input-field col s12">
              <input
                class="validate"
                type="text"
                name="subdomain"
                id="subdomain"
                style="width:65%;"
                v-model="subdomain"
                :class="{invalid: subdomainInvalid}"
                @keyup="validateSubdomain"
              />
              <span style="line-height: 16px;">.{{baseDomain()}}</span>
              <label for="subdomain">{{$t("login.subdomain")}}</label>
            </div>
            <button
              type="submit"
              id="createButton"
              name="btn_sendkey"
              class="col s12 btn waves-effect"
              @click="redirectToTenant"
              :disabled="subdomainInvalid"
            >{{$t("create")}}</button>
          </div>
        </div>
      </div>
      <br />
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
</template>
<script>
import * as Tenant from "../js/model/Tenant";
import * as Strings from "../js/util/Strings";
export default {
  props: ["withCreateTenant"],
  data() {
    return {
      subdomain: "",
      subdomainInvalid: false
    };
  },
  methods: {
    baseDomain() {
      return Strings.baseDomain(location.host);
    },
    async validateSubdomain() {
      if (!this.subdomain) {
        this.subdomainInvalid = true;
        return;
      }
      this.subdomain = this.subdomain.toLowerCase();
      if (!this.subdomain.match(/^[a-z\-]{5,}$/g)) {
        this.subdomainInvalid = true;
        return;
      }
      this.subdomainInvalid = await Tenant.tenantExistsHasKey(this.subdomain);
    },
    redirectToTenant() {
      this.validateSubdomain();
      if (!this.subdomainInvalid) {
        var baseDomain =
          location.host.indexOf(".") > 0
            ? location.host.substring(
                location.host.indexOf(".") + 1,
                location.host.length
              )
            : location.host;
        location.href =
          location.protocol +
          "//" +
          this.subdomain +
          "." +
          baseDomain +
          "/login?subdomain=" +
          this.subdomain;
      }
    }
  },
  beforeMount: async function() {
    this.subdomain = this.$route.query.subdomain || "";
  }
};
</script>
<style scoped>
.main-container {
  display: inline-block;
  padding: 32px 48px 32px 48px;
  border: 1px solid #eee;
  width: 400px;
}
</style>