<template>
  <div>
    <h2>{{$t("plan.title")}}</h2>
    <div>{{$t("plan.description")}}</div>
    <div
      v-if="plan"
      class="row using"
    >{{$t("plan.currentTenantInfo", {fileSizeTotal:addComma(fileSizeTotal), groupCount, memberCount})}}</div>
    <div class="row">
      <div v-if="viewOnly" class="col s3">
        <div class="plan-title">{{$t("landing.plan.onpremises.title")}}</div>
        <div class="plan-description">{{$t("landing.plan.onpremises.description")}}</div>
        <div class="plan-price">
          <span>{{$t("landing.plan.pricingTitle")}}</span>
          <span class="plan-plicing">{{$t("landing.plan.onpremises.pricing")}}</span>
        </div>
        <div class="plan-detail">
          <div>{{$t("landing.plan.onpremises.limit.file")}}</div>
          <div>{{$t("landing.plan.onpremises.limit.account")}}</div>
          <div>{{$t("landing.plan.onpremises.limit.group")}}</div>
        </div>
      </div>
      <div
        class="col"
        :class="{s3:viewOnly, s4:!viewOnly, colord:viewOnly || currentPlan.plan==null || currentPlan.plan=='free'}"
      >
        <div class="plan-title">
          <label>
            <input type="radio" name="plan" v-if="!viewOnly" value="free" v-model="plan" />
            <span class="plan-label">{{$t("landing.plan.free.title")}}</span>
          </label>
        </div>
        <div class="plan-description">{{$t("landing.plan.free.description")}}</div>
        <div class="plan-price">
          <span>{{$t("landing.plan.pricingTitle")}}</span>
          <span class="plan-plicing">{{$t("landing.plan.free.pricing")}}</span>
        </div>
        <div class="plan-detail">
          <div>{{$t("landing.plan.free.limit.file")}}</div>
          <div>{{$t("landing.plan.free.limit.account")}}</div>
          <div>{{$t("landing.plan.free.limit.group")}}</div>
        </div>
      </div>
      <div
        class="col"
        :class="{s3:viewOnly, s4:!viewOnly, colord:viewOnly || currentPlan.plan=='standard'}"
      >
        <div class="plan-title">
          <label>
            <input type="radio" name="plan" v-if="!viewOnly" value="standard" v-model="plan" />
            <span class="plan-label">{{$t("landing.plan.standard.title")}}</span>
          </label>
        </div>
        <div class="plan-description">{{$t("landing.plan.standard.description")}}</div>
        <div class="plan-price">
          <span>{{$t("landing.plan.pricingTitle")}}</span>
          <span class="plan-plicing">{{$t("landing.plan.standard.pricing")}}</span>
        </div>
        <div class="plan-detail">
          <div>{{$t("landing.plan.standard.limit.file")}}</div>
          <div>{{$t("landing.plan.standard.limit.account")}}</div>
          <div>{{$t("landing.plan.standard.limit.group")}}</div>
        </div>
      </div>
      <div
        class="col"
        :class="{s3:viewOnly, s4:!viewOnly, colord:viewOnly || currentPlan.plan=='premium'}"
      >
        <div class="plan-title">
          <label>
            <input type="radio" name="plan" v-if="!viewOnly" value="premium" v-model="plan" />
            <span class="plan-label">{{$t("landing.plan.premium.title")}}</span>
          </label>
        </div>
        <div class="plan-description">{{$t("landing.plan.premium.description")}}</div>
        <div class="plan-price">
          <span>{{$t("landing.plan.pricingTitle")}}</span>
          <span class="plan-plicing">{{$t("landing.plan.premium.pricing")}}</span>
        </div>
        <div class="plan-detail">
          <div>{{$t("landing.plan.premium.limit.file")}}</div>
          <div>{{$t("landing.plan.premium.limit.account")}}</div>
          <div>{{$t("landing.plan.premium.limit.group")}}</div>
        </div>
      </div>
      <div class="col s12" v-html="$t('landing.plan.planDescription')"></div>
    </div>
    <div class="row" v-if="!viewOnly">
      <div class="col s12 button-area">
        <button
          id="createButton"
          class="waves-effect waves-light btn"
          @click="clickSave"
          :disabled="saving || plan==currentPlan.plan || (!currentPlan.plan && plan=='free')"
        >
          <i class="material-icons left">cloud</i>
          {{$t("save")}}
        </button>
        <button
          id="cancelButton"
          class="waves-effect waves-light btn-flat cancel-button"
          @click="cancel"
        >{{$t("cancel")}}</button>
      </div>
    </div>
  </div>
</template>
<script>
import * as Tenant from "../js/model/Tenant";
import * as Group from "../js/model/Group";
export default {
  props: ["viewOnly"],
  data() {
    return {
      plan: null,
      currentPlan: {},
      saving: false,
      fileSizeTotal: "-",
      groupCount: "-",
      memberCount: "-"
    };
  },
  methods: {
    cancel() {
      this.$router.push("/space");
    },
    checkChangeHasError(plan) {
      var errors = [];
      if ("premium" == plan) {
        return;
      } else if ("standard" == plan) {
        if (this.fileSizeTotal > 30000000000) {
          errors.push(
            this.$t("plan.changeErrors.fileSizeLimitOver", {
              limit: 30000000000,
              current: this.fileSizeTotal
            })
          );
        }
        if (this.groupCount > 10) {
          errors.push(
            this.$t("plan.changeErrors.groupCountLimitOver", {
              limit: 10,
              current: this.groupCount
            })
          );
        }
        if (this.memberCount > 100) {
          errors.push(
            this.$t("plan.changeErrors.accountCountLimitOver", {
              limit: 100,
              current: this.memberCount
            })
          );
        }
      } else {
        if (this.fileSizeTotal > 1000000000) {
          errors.push(
            this.$t("plan.changeErrors.fileSizeLimitOver", {
              limit: 1000000000,
              current: this.fileSizeTotal
            })
          );
        }
        if (this.groupCount > 2) {
          errors.push(
            this.$t("plan.changeErrors.groupCountLimitOver", {
              limit: 2,
              current: this.groupCount
            })
          );
        }
        if (this.memberCount > 5) {
          errors.push(
            this.$t("plan.changeErrors.accountCountLimitOver", {
              limit: 5,
              current: this.memberCount
            })
          );
        }
      }
      if (errors.length == 0) {
        return;
      }
      return errors.join("<br/>");
    },
    async clickSave() {
      const changeError = this.checkChangeHasError(this.plan);
      if (changeError) {
        this.$dialog.$once("closed", ok => {});
        this.$dialog.$emit("open", {
          confirm: true,
          htmlMessage: changeError,
          execButton: this.$t("ok")
        });
        return;
      }
      if ("standard" == this.plan || "premium" == this.plan) {
        this.$dialog.$once("payment", async cardTokenId => {
          location.href = "/space/plan";
        });
        this.$dialog.$emit("open", {
          payment: true,
          plan: this.plan,
          cardTokenId: this.currentPlan.cardTokenId,
          payjsPublicKey: this.currentPlan.payjsPublicKey,
          title: this.$t("payment.info")
        });
      } else {
        this.$dialog.$once("closed", async ok => {
          if (ok === true) {
            await Tenant.updatePlan({ plan: "free" });
            location.href = "/space/plan";
          }
        });
        this.$dialog.$emit("open", {
          confirm: true,
          message: this.$t("plan.changeToFree"),
          execButton: this.$t("ok")
        });
      }
    },
    addComma(val) {
      if (typeof val == "number") {
        return val.toLocaleString();
      }
      try {
        var inted = parseInt(val);
        if (inted) {
          return inted.toLocaleString();
        }
      } catch (ignore) {}
      return val;
    }
  },
  async beforeMount() {
    if (!window.Payjp) {
      const script = document.createElement("script");
      script.src = "https://js.pay.jp/";
      script.type = "text/javascript";
      document.body.appendChild(script);
    }
    const fileInfo = await Tenant.loadFiles();
    this.fileSizeTotal = fileInfo.info.sum || 0;
    const openGroups = await Group.getOpenGroup();
    this.groupCount = openGroups.length;
    const tenant = await Tenant.loadTenant();
    this.memberCount = tenant.relations.filter(
      r => r.account.role != "REJECTOR"
    ).length;

    this.currentPlan = await Tenant.loadCurrentPlan();
    if (!this.currentPlan || !this.currentPlan.plan) {
      this.plan = "free";
    } else {
      this.plan = this.currentPlan.plan;
    }
  }
};
</script>
<style scoped>
.using {
  font-size: 0.9em;
  color: #666;
}
.plan-title {
  text-align: center;
  margin: 0 0 10px 0;
}
.colord {
  border: 1px solid #ddd;
  padding: 0;
  background-color: white;
}
.colord .plan-description,
.colord .plan-detail,
.colord .plan-price {
  padding: 0 0.75em;
}

.colord .plan-title {
  background-color: var(--main-color);
}
.colord .plan-title .plan-label {
  color: white;
  font-size: 1.5em;
}
[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
[type="radio"]:checked + span:after {
  background-color: #26a69a;
}
.colord [type="radio"]:checked + span:after {
  border: 2px solid white;
}
.button-area::after {
  clear: both;
}
.cancel-button {
  float: right;
}
.plan-description {
  height: 70px;
}
.plan-plicing {
  font-size: 1.2em;
  color: var(--main-color);
}
.plan-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}
.plan-detail div {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
</style>
