<template>
  <div>
    <h2>{{$t("sprints.progress")}}</h2>
    <div>
      <span style="margin-right:100px">{{sprint.title}}</span>
      {{$t("sprints.period")}}:
      <input type="date" v-model="startAt" id="inputStartAt" />
      &nbsp;-&nbsp;
      <input type="date" v-model="endAt" id="inputEndAt" />
    </div>
    <div class="table" :style="{ width: tableWidth + 'px' }">
      <div class="table-row table-title">
        <div class="key-column">{{$t("todo.key")}}</div>
        <div class="title-column">{{$t("todo.title")}}</div>
        <div class="personnel-column-title">{{$t("todo.personnels")}}</div>
        <div class="point-column-title">point</div>
        <div
          class="date-column"
          :class="{'today': todayDateIndex == index, 'holiday': checkIsHoriday(date)}"
          v-for="(date, index) in dates"
          :key="index"
          :set="shored = shortDate(date)"
        >
          <label :for="shored">{{shored}}</label>
          <input :id="shored" type="checkbox" style="display:none" @change="toggleHoliday(date)" />
        </div>
        <br style="clear:both" />
      </div>
      <div v-for="todo in todos" :key="todo.id" class="table-row">
        <div class="key-column">
          <router-link :to="'/group/'+groupId+'/ticket/'+todo.key">{{todo.key}}</router-link>
        </div>
        <div class="title-column">{{todo.title}}</div>
        <div class="personnel-column">{{toColumnPersonnel(todo.personnels) || "&nbsp;"}}</div>
        <div class="point-column">{{todo.point || "&nbsp;"}}</div>
        <div
          class="date-column"
          :class="{'today': todayDateIndex == index, 'holiday': checkIsHoriday(date)}"
          v-for="(date, index) in dates"
          :key="index"
        >
          <span v-if="todayDateIndex != index">{{findProgress(todo.id, date, "%") || "&nbsp;"}}</span>
          <span v-if="todayDateIndex == index">
            <input
              type="number"
              style="width: 40px;height: 22px;box-sizing: border-box;margin-bottom: 0;color: white;"
              :value="findProgress(todo.id, date)"
              @change="(e) => updateProgress(todo, e)"
              number
            />%
          </span>
        </div>
        <br style="clear:both" />
      </div>
      <div class="table-row">
        <div class="total-column">{{$t("sprints.actual")}}</div>
        <div class="point-column">{{totalPoint || "&nbsp;"}}</div>
        <div
          class="date-column"
          :class="{'today': todayDateIndex == index, 'holiday': checkIsHoriday(date)}"
          v-for="(date, index) in dates"
          :key="index"
        >{{calcTotalPoint(date) || "&nbsp;"}}</div>
        <br style="clear:both" />
      </div>
      <div class="table-row">
        <div class="ideal-column">{{$t("sprints.ideal")}}</div>
        <div class="point-column">{{totalPoint || "&nbsp;"}}</div>
        <div
          class="date-column"
          :class="{'today': todayDateIndex == index, 'holiday': checkIsHoriday(date)}"
          v-for="(date, index) in dates"
          :key="index"
        >
          <template v-if="!checkIsHoriday(date)">{{calcActualPoint(date)}}</template>
          <template v-else>-</template>
        </div>
        <br style="clear:both" />
      </div>
    </div>
    <div>
      <canvas id="burndown"></canvas>
    </div>
  </div>
</template>
<script>
import * as Todo from "../js/model/Todo";
import * as Group from "../js/model/Group";
import * as SprintBar from "../js/model/SprintBar";
import * as Strings from "../../../app/server/util/stringUtil";
import moment from "moment";
export default {
  props: ["groupId", "sprintTitle"],
  data() {
    return {
      sprint: {},
      todos: [],
      dates: [],
      totalPoint: null,
      todayShort: null,
      startAt: null,
      endAt: null,
      initialized: false,
      todayDateIndex: null,
      tableWidth: 700,
      updateTodoSocketListener: null,
      eventsAndTodoIdMap: null
    };
  },
  methods: {
    shortDate(date) {
      if (!date) {
        return "";
      }
      return date.getMonth() + 1 + "/" + date.getDate();
    },
    initDates() {
      this.dates = [];
      const startAt = Strings.timeZero(Strings.toDate(this.sprint.startAt));
      const endAt = Strings.timeZero(Strings.toDate(this.sprint.endAt));
      if (startAt && endAt) {
        var date = new Date(startAt);
        while (date <= endAt) {
          this.dates.push(date);
          var date = new Date(date);
          date.setDate(date.getDate() + 1);
        }
      }
      this.todayShort = this.shortDate(new Date());
      this.todayDateIndex = this.dates.findIndex(
        d => this.shortDate(d) == this.todayShort
      );
      this.tableWidth = 570 + 50 + this.dates.length * 40 + 30; //30 is today 70 - 40
      if (this.initialized) {
        this.showBurnDown();
      }
    },
    findProgress(todoId, date, appendix) {
      if (date > new Date()) {
        return null;
      }
      var key = todoId + "-" + this.shortDate(date);
      var event =
        this.eventsAndKeyMap[key] ||
        (this.eventsAndTodoIdMap[todoId] &&
          this.eventsAndTodoIdMap[todoId].find(
            e => new Date(e.createdAt) < date
          ));
      var ret = event && event.progress;
      if (!ret && ret != 0) {
        return null;
      }
      if (appendix) {
        ret = ret + appendix;
      }
      return ret;
    },
    toColumnPersonnel(personnels) {
      if (personnels && personnels[0]) {
        return (
          personnels[0].name +
          (personnels.length > 1 ? `(${personnels.length})` : "")
        );
      } else {
        return null;
      }
    },
    calcTotalPoint(date) {
      if (date > new Date()) {
        return;
      }
      const donePoint = this.todos.reduce((total, todo) => {
        const point = (todo.point * this.findProgress(todo.id, date)) / 100;
        return point ? total + Math.floor(point) : total;
      }, 0);
      const calculated = this.totalPoint - donePoint;
      if (calculated == 0) {
        return "0";
      }
      return calculated;
    },
    calcActualPoint(date) {
      const dateShorted = this.shortDate(date);
      const notHolidays = this.dates.filter(d => !this.checkIsHoriday(d));
      const indexOfNotHoliday = notHolidays.findIndex(
        d => this.shortDate(d) == dateShorted
      );
      if (indexOfNotHoliday < 0) {
        return "-";
      }
      return Math.floor(
        (this.totalPoint * (notHolidays.length - indexOfNotHoliday - 1)) /
          notHolidays.length
      );
    },
    async updateSprint() {
      this.sprint.startAt = Strings.toISOString(this.startAt);
      this.sprint.endAt = Strings.toISOString(this.endAt);
      if (this.sprint.groupId) {
        await SprintBar.saveGroup(this.sprint.groupId, this.sprint);
      } else {
        await SprintBar.saveSelf(sprint);
      }
      this.initDates();
    },
    async updateProgress(todo, e) {
      todo.progress = e.srcElement.value ? parseInt(e.srcElement.value) : 0;
      await Todo.updateProgress({
        id: todo.id,
        groupId: todo.group.id,
        progress: todo.progress
      });
      const event = {
        todoId: todo.id,
        progress: todo.progress,
        createdAt: Strings.toISOString(new Date())
      };
      this.eventsAndKeyMap[todo.id + "-" + this.todayShort] = event;
      if (!this.eventsAndDateMap[this.todayShort]) {
        this.eventsAndDateMap[this.todayShort] = [];
      }
      this.eventsAndDateMap[this.todayShort] = this.eventsAndDateMap[
        this.todayShort
      ].filter(e => e.todoId != todo.id);
      this.eventsAndDateMap[this.todayShort].push(event);
      if (!this.eventsAndTodoIdMap[todo.id]) {
        this.eventsAndTodoIdMap[todo.id] = [];
      }
      this.eventsAndTodoIdMap[todo.id].unshift(event);
      this.$forceUpdate();
      if (this.initialized) {
        this.showBurnDown();
      }
    },
    toDateString(date) {
      if (!date) {
        return date;
      }
      return moment(date).format("YYYY/MM/DD");
    },
    async toggleHoliday(date) {
      var dateStringed = this.toDateString(date);
      var holidaysArray;
      if (this.sprint.holidays) {
        holidaysArray = this.sprint.holidays.split(",");
      } else {
        holidaysArray = this.dates
          .filter(d => this.checkIsHoriday(d))
          .map(d => this.toDateString(d));
      }
      if (!holidaysArray) {
        holidaysArray = [];
      }
      var matched;
      holidaysArray = holidaysArray.filter(h => {
        var m = h == dateStringed;
        if (m) {
          matched = true;
        }
        return !m;
      });
      if (!matched) {
        holidaysArray.push(dateStringed);
      }
      if (holidaysArray.length == 0) {
        holidaysArray.push("1900/01/01"); //has saved
      }
      this.sprint.holidays = holidaysArray.join(",");
      if (this.sprint.groupId) {
        await SprintBar.saveGroup(this.sprint.groupId, this.sprint);
      } else {
        await SprintBar.saveSelf(sprint);
      }
      this.$forceUpdate();
      this.showBurnDown();
    },
    checkIsHoriday(date) {
      if (this.sprint.holidays) {
        return this.sprint.holidays.indexOf(this.toDateString(date)) >= 0;
      } else {
        return date.getDay() == 0 || date.getDay() == 6;
      }
    },
    showBurnDown() {
      var canvas = document.getElementById("burndown");

      Chart.defaults.global.defaultFontFamily = "Arial";
      Chart.defaults.global.defaultFontSize = 14;
      const dateEscapedHoliday = this.dates.filter(
        d => !this.checkIsHoriday(d)
      );
      var data = {
        labels: dateEscapedHoliday.map(d => this.shortDate(d)),
        datasets: [
          {
            label: this.$t("sprints.actual"),
            data: dateEscapedHoliday.map((d, index) => {
              if (d > new Date()) {
                return null;
              }
              for (var i = index; i >= 0; i--) {
                var da = this.calcTotalPoint(dateEscapedHoliday[i]);
                if (da) {
                  return da;
                }
              }
              return null;
            }),
            fill: false,
            borderColor: "#EE6868",
            backgroundColor: "#EE6868",
            lineTension: 0
          },
          {
            label: this.$t("sprints.ideal"),
            borderColor: "#6C8893",
            backgroundColor: "#6C8893",
            lineTension: 0,
            borderDash: [5, 5],
            fill: false,
            data: dateEscapedHoliday.map((date, index) =>
              Math.floor(
                (this.totalPoint * (dateEscapedHoliday.length - index - 1)) /
                  dateEscapedHoliday.length
              )
            )
          }
        ]
      };

      var options = {
        legend: {
          display: true,
          position: "top",
          labels: {
            boxWidth: 80,
            fontColor: "black"
          }
        },
        scales: {
          yAxes: [
            {
              ticks: {
                min: 0,
                max: this.totalPoint
              }
            }
          ]
        }
      };
      var lineChart = new Chart(canvas, {
        type: "line",
        data,
        options
      });
    }
  },
  async beforeMount() {
    try {
      this.group = await Group.loadGroup(this.groupId);
      this.sprint = await SprintBar.loadSprintBar(
        this.group.id,
        this.sprintTitle
      );
    } catch (e) {
      this.$warn(this.$t("sprints.failToLoad"));
      return;
    }
    this.startAt = Strings.toInputDateString(this.sprint.startAt);
    this.endAt = Strings.toInputDateString(this.sprint.endAt);
    this.todos = await Group.searchTodo(
      this.group.id,
      "?q&sprint=" + encodeURIComponent(this.sprintTitle)
    );
    this.todoAndIdMap = [];
    this.todos.forEach(t => {
      this.todoAndIdMap[t.id] = t;
    });
    this.progressEvents = await Group.loadProgressEvent(
      this.group.id,
      this.todos.map(t => t.id)
    );
    this.eventsAndKeyMap = [];
    this.eventsAndDateMap = [];
    this.eventsAndTodoIdMap = [];
    this.progressEvents.forEach(e => {
      const shortDate = this.shortDate(new Date(e.createdAt));
      const key = e.todoId + "-" + shortDate;
      if (!this.eventsAndKeyMap[key]) {
        this.eventsAndKeyMap[key] = e;
      }
      if (!this.eventsAndDateMap[shortDate]) {
        this.eventsAndDateMap[shortDate] = [];
      }
      if (!this.eventsAndDateMap[shortDate].find(v => v.todoId == e.todoId)) {
        this.eventsAndDateMap[shortDate].push(e);
      }
      if (!this.eventsAndTodoIdMap[e.todoId]) {
        this.eventsAndTodoIdMap[e.todoId] = [];
      }
      this.eventsAndTodoIdMap[e.todoId].push(e);
    });
    this.totalPoint = this.todos.reduce(
      (total, t) => (t.point ? total + t.point : total),
      0
    );
    this.initDates();
    this.initialized = true;
    var chartjs = document.createElement("script");
    chartjs.src =
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js";
    document.body.appendChild(chartjs);
    const drawChart = () => {
      setTimeout(() => {
        if (Chart) {
          this.showBurnDown();
        } else {
          drawChart();
        }
      }, 1000);
    };
    drawChart();
    this.updateTodoSocketListener = todo => {
      if (
        todo.lastEvent &&
        todo.lastEvent.changed &&
        todo.lastEvent.changed.find
      ) {
        const progressChange = todo.lastEvent.changed.find(
          c => c.title == "progress"
        );
        if (!progressChange) {
          return;
        }
        const localTodo = this.todoAndIdMap[todo.id];
        if (!localTodo) {
          return;
        }
        this.todoAndIdMap[todo.id] = todo;
        const dateShorted = this.shortDate(new Date());
        const currentEvent = this.eventsAndKeyMap[todo.id + "-" + dateShorted];
        if (currentEvent && currentEvent.progress == progressChange.to) {
          return;
        }
        const updateEvent = {
          todoId: todo.id,
          progress: progressChange.to,
          createdAt: todo.lastEvent.createdAt
        };
        this.eventsAndKeyMap[todo.id + "-" + dateShorted] = updateEvent;
        var todayEvents = this.eventsAndDateMap[dateShorted];
        if (!todayEvents) {
          todayEvents = [];
        }
        if (!this.eventsAndTodoIdMap[todo.id]) {
          this.eventsAndTodoIdMap[todo.id] = [];
        }
        this.eventsAndTodoIdMap[todo.id].unshift(updateEvent);
        todayEvents = todayEvents.filter(e => e.todoId != todo.id);
        todayEvents.push(updateEvent);
        this.eventsAndDateMap[dateShorted] = todayEvents;
        this.$forceUpdate();
      }
    };
    this.$socket.on("UPDATE_TODO", this.updateTodoSocketListener);
  },
  beforeDestroy() {
    this.$socket.off("UPDATE_TODO", this.updateTodoSocketListener);
  },
  watch: {
    startAt(value) {
      if (value && this.initialized) {
        this.updateSprint();
      }
    },
    endAt(value) {
      if (value && this.initialized) {
        this.updateSprint();
      }
    }
  }
};
</script>
<style scoped>
label {
  font-size: 14px;
  color: white;
}
.table > div:nth-child(even) {
  background-color: #eee;
}
.table-title > div {
  border-top: 1px solid #aaa;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}
.table-title > .date-column:hover {
  opacity: 0.5;
  cursor: pointer;
}
.table-title > .date-column > label:hover {
  opacity: 0.5;
  cursor: pointer;
}
.table-row > div:first-child {
  border-left: 1px solid #aaa;
}
.table-row > div {
  float: left;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.date-column {
  text-align: center;
  width: 40px;
}
.date-column.holiday {
  background-color: gray;
}
.point-column-title {
  width: 50px;
}
.point-column {
  text-align: right;
  width: 50px;
}
.personnel-column-title {
  width: 150px;
}
.personnel-column {
  text-align: right;
  padding-right: 10px;
  width: 150px;
}
.key-column {
  width: 120px !important;
  direction: rtl;
}
.title-column {
  width: 300px !important;
}
.total-column,
.ideal-column {
  text-align: right;
  padding-right: 10px;
}
.total-column {
  width: 570px;
}
.ideal-column {
  width: 570px;
}
.date-column.today {
  background-color: var(--very-impressive-color);
  color: white;
  width: 70px;
}
.key-column,
.title-column {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.key-column,
.title-column,
.personnel-column,
.point-column,
.date-column {
  box-sizing: border-box;
}
#inputStartAt,
#inputEndAt {
  width: 150px;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] { 
  -moz-appearance:textfield; 
} 
</style>