<template>
  <div class="talking-area" :class="showOrHide">
    <div
      class="talking-box fadein"
      v-for="todo in value"
      :key="todo.id"
      @click="($event)=>clicked($event, todo)"
    >
      <div class="talking-title">{{todo.title}}</div>
      <div class="talking-body">{{todo.content}}</div>
      <i class="material-icons" @click="($event)=>pinClicked($event, todo)">attach_file</i>
    </div>
  </div>
</template>
<script>
export default {
  props: ["value"],
  data() {
    return {
      showOrHide: "hide",
      hidingHandle: null
    };
  },
  methods: {
    pinClicked(e, todo) {
      e.handled = true;
      this.$emit("pinClicked", todo);
    },
    clicked(e, todo) {
      if (e.handled) {
        return;
      }
      this.$emit("click", todo);
    }
  },
  watch: {
    value: {
      handler(v) {
        if (this.hidingHandle) {
          window.clearTimeout(this.hidingHandle);
          this.hidingHandle = null;
        }
        const calcStatus = () => {
          return this.value && this.value.length > 0 ? "show" : "hide";
        };
        const nextStatus = calcStatus();
        if (this.showOrHide == nextStatus) {
          //DO nothing
        } else if (nextStatus == "show") {
          this.showOrHide = nextStatus;
        } else {
          this.hidingHandle = window.setTimeout(() => {
            this.hidingHandle = null;
            this.showOrHide = nextStatus;
          }, 1000);
        }
      },
      deep: true
    }
  }
};
</script>
<style scoped>
.talking-area {
  height: 59px;
  opacity: 1;
  transition: all 0.5s ease-out 1s;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 14px;
}
.talking-area::after {
  clear: both;
}
.talking-area.show {
  height: 59px;
  transition: all 0.5s ease-out;
  opacity: 1;
}
.talking-area.hide {
  transition: all 0.5s ease-out 1s;
  height: 0;
  opacity: 0;
}
.talking-box {
  position: relative;
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #ff7d45;
  border-radius: 5px;
  background-color: #ffa27a;
  float: left;
  margin-left: 3px;
  padding: 3px;
}
.talking-box:hover {
  cursor: pointer;
  border: 1px solid #ffa27a;
}
.talking-box i:hover {
  border-radius: 3px;
  border: 1px solid #ff7d45;
  background-color: #fa804c;
}
.talking-title {
  text-decoration: underline;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}
.talking-box i {
  opacity: 0;
  transition: all 0.5s ease-out;
  font-size: 10px;
  position: absolute;
  top: 3px;
  right: 3px;
}
.talking-box:hover i {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.talking-body {
  color: #666;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.fadein {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
</style>