<template>
  <div>
    <div class="todo_area">
      <div class="row warn_area" v-if="todo.__conflict">{{$t("todo.conflict")}}</div>
      <div class="row">
        <button
          v-if="editable"
          class="edit_parent_button waves-effect waves-light btn col"
          @click="openChoiceParent()"
        >{{$t("todo.choiceParent")}}</button>
        <todo-key
          ref="todoKey"
          class="key-area col"
          :class="{'editing':editable}"
          :todo="todo"
          :group="currentGroup"
          :editable="editable"
          @delete-parent="deleteParent()"
        />
      </div>
      <div class="row">
        <input-text
          id="title"
          class="col s12"
          autocomplete="off"
          :value="todo.title"
          @input="value => {titleEmpty = !value;todoChanged(value, 'title')}"
          :invalid="titleEmpty"
          :disabled="!editable"
          :label="$t('todo.title')"
        />
      </div>
      <div class="row relation-area" v-if="todo.relations && todo.relations.length > 0">
        <div
          class="relation_todo"
          @click="($event)=>{if(!$event.handled)talkingTodoClicked(relationTodo)}"
          v-for="relationTodo in todo.relations"
          :key="relationTodo.id"
        >
          <i class="material-icons">toc</i>
          {{relationTodo.key}}:&nbsp;{{relationTodo.title}}
          <i
            v-if="editable"
            class="material-icons relation-close"
            @click="($event)=>{$event.handled=true;removeRelation(relationTodo)}"
          >close</i>
        </div>
      </div>
      <div class="row">
        <talking-todo
          class="col s12"
          v-if="editable"
          v-model="talkingTodos"
          @click="talkingTodoClicked"
          @pinClicked="pinClicked"
          :ignores="todo.relations"
        />
      </div>
      <div class="row" v-if="editable">
        <input-textarea
          ref="content"
          id="content"
          class="col s12"
          :class="{'dragging': draggingOnContent, 'blinking': fileUploading}"
          rows="3"
          :disabled="!editable"
          :value="todo.content"
          @input="value => todoChanged(value, 'content')"
          @drop="onDropToContent"
          @dragover="draggingOnContent=true"
          @dragleave="draggingOnContent=false"
          @paste="onPaste"
          @ctrl_b="ctrlB"
          :label="$t('todo.content')"
          :invalid="todo.__conflict"
        />
      </div>
      <div class="row" v-if="!editable" style="margin-bottom:10px">
        <markdown
          class="col s12"
          :value="todo.content"
          :group-id="currentGroup ? currentGroup.id : null"
        />
      </div>

      <div
        class="row children-area"
        v-if="todo.id && ((todo.children && todo.children.length > 0) || editable)"
      >
        <label class="active">
          {{$t("todo.children")}}
          <i
            v-if="editable"
            class="material-icons btn-floating btn-small waves-effect waves-light child-select"
            @click="openSelectChildTodo()"
          >add</i>
          <i
            v-if="editable"
            class="material-icons btn-floating btn-small waves-effect waves-light child-append"
            @click="openCreateChildTodo()"
          >create</i>
        </label>

        <div class="child-create-area col s12" v-if="newChildTodoTitle != null">
          <input-text
            id="newChildTitle"
            :invalid="newChildTitleEmpty"
            :placeholder="$t('todo.title')"
            v-model="newChildTodoTitle"
            class="col s9"
          />
          <div class="col s3">
            <button
              class="waves-effect waves-light btn child-create"
              @click="appendsChild()"
            >{{$t("appends")}}</button>
          </div>
        </div>
        <div
          class="child_todo col s12"
          @click="($event)=>{if(!$event.handled)childTodoClicked(child)}"
          v-for="child in todo.children"
          :key="child.id"
        >
          <i class="material-icons">keyboard_arrow_right</i>
          {{child.key}}:&nbsp;{{child.title}}
          <i
            v-if="editable"
            class="material-icons child-close"
            @click="($event)=>{$event.handled=true;removeChild(child)}"
          >close</i>
        </div>
      </div>
      <div class="row file-area" v-if="editable || (todo.files && todo.files.length>0)">
        <label class="active" for="inputFile">
          {{$t("todo.files")}}
          <i
            v-if="editable"
            class="material-icons btn-floating btn-small waves-effect waves-light file-append"
          >add</i>
          <input
            id="inputFile"
            type="file"
            ref="inputFile"
            @change="fileSelected"
            style="display:none"
          />
        </label>
        <div
          class="file"
          v-for="file in todo.files"
          :key="file.id"
          @click="($event)=>{if($event.handled)return;downloadFile(file)}"
        >
          <a :href="file.url" @click.prevent>
            <i class="material-icons">attach_file</i>
            {{file.name}}
            <i
              v-if="editable"
              class="material-icons file-close"
              @click="($event)=>{$event.handled=true;removeFile(file)}"
            >close</i>
          </a>
        </div>
      </div>
      <div class="row messageLink-area" v-if="(todo.messageLinks && todo.messageLinks.length>0)">
        <label class="active">{{$t("todo.messageLinks")}}</label>
        <div v-for="messageLink in todo.messageLinks" :key="messageLink.id">
          <div
            v-if="!messageLink.deletedAt"
            class="messageLink"
            @click="($event)=>{if($event.handled)return;openMessageLink(messageLink)}"
          >
            <i class="material-icons">link</i>
            {{messageLink.comment || "Link to " + (messageLink.url.indexOf('teams') > 0 ? "Teams" : "Slack")}}
            <i
              v-if="editable"
              class="material-icons messageLink-close"
              @click="($event)=>{$event.handled=true;removeMessageLink(messageLink)}"
            >close</i>
          </div>
        </div>
      </div>
      <div class="row">
        <input-text
          id="point"
          only-int="true"
          class="col s3"
          v-model="todo.point"
          :disabled="!editable"
          :label="$t('todo.point')"
        />
        <span :class="{ 'point_label': editable }">pt</span>
      </div>
      <div class="row">
        <editable-progress
          id="progress"
          class="col s6"
          v-model="todo.progress"
          :disabled="!editable"
          :label="$t('todo.progress')"
        />
      </div>
      <div class="row">
        <input-date
          id="limit"
          class="col s6"
          v-model="todo.limitedAt"
          :disabled="!editable"
          :label="$t('todo.limitedAt')"
        />
      </div>
      <div class="row">
        <group-select
          class="col s6"
          :value="todo.group && todo.group.id"
          @input="changeGroup"
          :showself="!todo.group"
          :disabled="!editable || todo.id"
          :noRoute="editSamePane"
        />
      </div>
      <div class="row">
        <account-select
          id="from"
          class="col s8"
          style="padding:0;"
          :source-accouts="currentGroup ? currentGroup.members : null"
          v-model="todo.from"
          multiple="false"
          :disabled="!editable"
          :label="$t('todo.from')"
          :buttonLabel="$t('set')"
          @selected="pushAccountToFrom"
          @disselected="disselectFrom"
        />
      </div>
      <div class="row">
        <account-select
          id="personnels"
          class="col s8"
          style="padding:0;"
          :source-accouts="currentGroup ? currentGroup.members : null"
          v-model="todo.personnels"
          :ignores="todo.personnels"
          multiple="true"
          :disabled="!editable"
          :label="$t('todo.personnels')"
          :buttonLabel="$t('appends')"
          @selected="pushAccountToPersonnels"
          @disselected="disselectPersonnel"
        />
        <div class="col s4">
          <button
            id="appendPersonnelsAllGroupMemberButton"
            v-if="!todo.id && editable && currentGroup"
            class="waves-effect waves-light btn"
            style="margin-top:15px"
            @click="appendPersonnelsAllGroupMember"
            :disabled="!currentGroup"
          >
            <i class="material-icons left">group</i>
            {{$t("todo.appendsAllMember")}}
          </button>
        </div>
      </div>
      <div class="row" v-if="currentGroup">
        <input-custom-attribute-value
          v-for="(customAttribute, index) in currentGroup.customAttributes"
          :id="'customInput_'+index"
          :key="customAttribute.id"
          :custom-attribute="customAttribute"
          :custom-attribute-value="todo.customAttributeValues[index]"
          :disabled="!editable"
          @input-string="val => todo.customAttributeValues[index].stringValue = val"
          @input-int="val => todo.customAttributeValues[index].intValue = val"
          @input-date="val => todo.customAttributeValues[index].dateValue = val"
        />
      </div>
      <div class="row history-area" :class="{active: events.length > 0}">
        <label class="active col s12" @click="toggleEvent">
          {{$t("todo.events")}}
          <i class="material-icons">arrow_drop_down</i>
        </label>
        <div v-if="todo.id" ref="eventList" class="event-list col s12">
          <event class="col s12 event" v-for="event in events" :key="event.id" :event="event" />
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col s12 button-area">
          <button
            id="saveButton"
            v-if="editable"
            class="waves-effect waves-light btn"
            @click="registTodo"
            :disabled="!checkIsRegistable()"
          >
            <i class="material-icons left">cloud</i>
            {{todo.id ? $t("save") : $t("appends")}}
          </button>

          <button
            id="createChildPerPersonnelsButton"
            v-if="!todo.id && editable && currentGroup && !todo.type"
            class="waves-effect waves-light btn"
            @click="createChildPerPersonnels"
            :disabled="!checkCreateChildPerPersonnels()"
          >
            <i class="material-icons left">cloud</i>
            {{$t("todo.createTodoForAllPersonnels")}}
          </button>
          <button
            id="editButton"
            v-if="!editable && !onlyView"
            class="waves-effect waves-light btn"
            @click="editTodo"
          >
            <i class="material-icons left">create</i>
            {{$t("edit")}}
          </button>
          <button
            id="cancelButton"
            v-if="editable"
            class="waves-effect waves-light btn-flat cancel-button"
            @click="cancel"
          >{{$t("cancel")}}</button>
        </div>
      </div>
      <div style="height:90px" class="bottom-margin-for-chat"></div>
    </div>
    <chat :todo="todo" v-if="todo.id && currentGroup && !onlyView" />
  </div>
</template>
<script>
import { loadTodo, uploadTodo } from "../js/model/Todo";
import * as Group from "../js/model/Group";
import * as Account from "../js/model/Account";
import * as EventIF from "../js/model/Event";
import * as Tenant from "../js/model/Tenant";
import LocalMemory from "../js/util/LocalMemory";
import InputText from "./InputText";
import InputTextarea from "./InputTextarea";
import InputDate from "./InputDate";
import GroupSelect from "./GroupSelect";
import EditableProgress from "./EditableProgress";
import AccountSelect from "./AccountSelect";
import InputCustomAttributeValue from "./InputCustomAttributeValue";
import TalkingTodo from "./TalkingTodo";
import Markdown from "./Markdown";
import Chat from "./Chat";
import Event from "./Event";
import TodoKey from "./TodoKey";
const Strings = require("../../../app/server/util/stringUtil");
const TodoType = {
  // copy from "../../../app/server/model/Todo"
  MEMBER_TODO_PARENT: "member_todo_parent",
  MEMBER_TODO_CHILD: "member_todo_child",
  CHILD: "child",
};
function childProgressAvr(todo) {
  // copy from "../../../app/server/model/Todo"
  var childProgressAvr =
    todo.children.map((c) => c.progress || 0).reduce((sum, cur) => sum + cur) /
    todo.children.length;
  return Math.ceil(childProgressAvr);
}
export default {
  props: [
    "value",
    "editSamePane",
    "todoId",
    "groupId",
    "onlyView",
    "group",
    "showInDialog",
  ],
  components: {
    InputText,
    InputTextarea,
    InputDate,
    GroupSelect,
    EditableProgress,
    AccountSelect,
    InputCustomAttributeValue,
    TalkingTodo,
    Markdown,
    Chat,
    Event,
    TodoKey,
  },
  data() {
    return {
      todo: {},
      groups: [],
      editable: false,
      titleEmpty: false,
      currentGroup: null,
      saving: false,
      talkingTodos: [],
      fileUploading: false,
      draggingOnContent: false,
      events: [],
      newChildTodoTitle: null,
      newChildTitleEmpty: false,
      keyEventHandler: null,
      originTodo: null,
      savedNow: false, //for avoid local edit and push duplicate update
      updateTodoSocketListener: null,
      updateTodoProgressSocketListener: null,
      deleteTodoSocketListener: null,
    };
  },
  methods: {
    async todoChanged(arg, param) {
      this.todo[param] = arg;
      if (arg && param == "title") {
        await this.search(arg);
        this.$forceUpdate();
      }
    },
    onPaste(event) {
      var items = event.clipboardData.items;
      if (items && items.length > 0) {
        const imageItem = Array.from(items).find((t) =>
          t.type.match("image.*")
        );
        if (imageItem) {
          event.preventDefault();
          imageItem.name = "image";
          var i = imageItem.getAsFile();
          this.upload(i, true);
        }
      }
    },
    ctrlB(event) {
      event.preventDefault();
      event.stopImmediatePropagation();
      var area = document.getElementById("content");
      if (document.selection) {
        area.focus();
        sel = document.selection.createRange();
        sel.text = " **" + sel.text + "** ";
      } else if (!this.todo.content) {
        this.todo.content = text;
      } else if (area.selectionStart || area.selectionStart == "0") {
        var startPos = area.selectionStart;
        var endPos = area.selectionEnd;
        const rangeText =
          " **" + this.todo.content.substring(startPos, endPos) + "** ";
        if (!document.execCommand("insertText", false, rangeText)) {
          textarea.setRangeText(rangeText);
        }
        setTimeout(() => {
          area.setSelectionRange(startPos + 1, endPos + 5);
        }, 100);
      }
    },
    async onDropToContent(event) {
      this.draggingOnContent = false;
      event.preventDefault();
      let fileList = event.target.files || event.dataTransfer.files;
      if (fileList && fileList.length > 0) {
        await this.upload(fileList[0], true);
      }
    },
    async upload(file, appendsToContent) {
      this.fileUploading = true;
      try {
        var uploadResponse = await Group.uploadFile(
          this.currentGroup ? this.currentGroup.id : null,
          file
        );
        if (appendsToContent) {
          this.insertToCursorPosition(
            (file.type.indexOf("image") == 0 ? "!" : "") +
              "[" +
              file.name +
              "](" +
              (uploadResponse.headers.location || uploadResponse.file.url) +
              ")"
          );
        }
        if (!this.todo.files) {
          this.todo.files = [];
        }
        this.todo.files.push(uploadResponse.file);
        this.$forceUpdate();
        return uploadResponse;
      } catch (e) {
        this.$warn(this.$t("todo.errors.failedToUploadImage"));
      }
      this.fileUploading = false;
    },
    insertToCursorPosition(text) {
      var area = document.getElementById("content");
      if (document.selection) {
        area.focus();
        sel = document.selection.createRange();
        sel.text = text;
      } else if (!this.todo.content) {
        this.todo.content = text;
      } else if (area.selectionStart || area.selectionStart == "0") {
        var startPos = area.selectionStart;
        var endPos = area.selectionEnd;
        if (!document.execCommand("insertText", false, text)) {
          textarea.setRangeText(text);
        }
        window.setTimeout(function () {
          area.focus();
          area.setSelectionRange(startPos, endPos + text.length);
        });
      } else {
        this.todo.content += "\n" + text;
      }
    },
    generateTodoUrl() {
      var groupId = this.todo.group && this.todo.group.key;
      if (!groupId) {
        var group =
          this.todo.groupId &&
          this.groups.find(
            (g) => g.id == this.todo.groupId || g.key == this.todo.groupId
          );
        if (group) {
          groupId = group.key;
        }
      }
      if (!groupId) {
        groupId = this.groupId;
      }
      var todoId = this.todo.key || this.todo.id;
      var groupURL = groupId ? `/group/${groupId}` : "";
      var todoURL = todoId ? `/ticket/${todoId}` : "";
      return groupURL + todoURL || "/";
    },
    checkIsRegistable() {
      return this.todo.title && !this.saving;
    },
    checkCreateChildPerPersonnels() {
      return (
        this.todo.personnels &&
        this.todo.personnels.length > 1 &&
        this.checkIsRegistable()
      );
    },
    async registTodo() {
      if (!this.todo.title) {
        this.titleEmpty = true;
        return;
      }
      if (!this.todo.point) {
        this.todo.point = null;
      }
      if (this.todo.point && !Strings.isInteger(this.todo.point)) {
        return;
      }
      this.saving = true;
      if (!this.todo.personnels || this.todo.personnels.length == 0) {
        if (!this.todo.group) {
          this.todo.personnels = [await Account.getAccount()];
        }
      }
      var isCreate = !this.todo.id;
      var uploaded = await uploadTodo(this.todo);
      this.savedNow = true;
      LocalMemory.clearCache(this.todo);
      if (this.currentGroup) {
        uploaded.order = [uploaded.order.find((o) => o.type == "group")];
      } else {
        const self = await Account.getAccount();
        uploaded.order = [uploaded.order.find((o) => o.type == "self")];
      }
      this.todo = uploaded;
      if (isCreate) {
        this.$emit("todo-appended", this.todo);
      }
      this.afterRegist();
      this.saving = false;
    },
    afterRegist() {
      this.editable = false;
      this.$emit("editing", false);
      if (this.editSamePane) {
        setTimeout(() => M.updateTextFields());
      } else {
        this.$router.push(this.generateTodoUrl());
      }
      this.events = [];
      this.$forceUpdate();
    },
    editTodo() {
      if (
        !this.editSamePane &&
        !(
          location.pathname.endsWith("/edit") ||
          location.pathname.endsWith("/new")
        )
      ) {
        this.$router.push(this.generateTodoUrl() + "/edit");
      } else {
        setTimeout(() => M.updateTextFields());
      }
      this.editable = true;
      this.$emit("editing", true);
      var editedButSavedTodo = LocalMemory.hasTodo(this.todo);
      if (editedButSavedTodo) {
        setTimeout(() => {
          this.$dialog.$emit("open", {
            confirm: true,
            message: this.$t("todo.editingButSavedTodo.message"),
            execButton: this.$t("todo.editingButSavedTodo.execButtonMessage"),
            editedButSavedTodo: editedButSavedTodo,
            currentTodo: this.todo,
          });
          this.$dialog.$once("closed", (ok) => {
            if (ok) {
              Object.assign(this.todo, editedButSavedTodo);
              this.$forceUpdate();
            } else {
              LocalMemory.clearCache(this.todo);
            }
          });
        }, 100);
      } else {
        setTimeout(() => document.getElementById("title").focus());
      }
      this.originTodo = Object.assign({}, this.todo);
    },
    findSelectedGroup() {
      const groupId =
        (this.todo.group && this.todo.group.id) ||
        (this.group && this.group.id);
      return groupId && this.groups
        ? this.groups.find((g) => g.id == groupId)
        : null;
    },
    async changeGroup(groupId) {
      this.todo.personnels = [];
      if (groupId) {
        this.currentGroup = await Group.loadGroup(groupId);
        this.todo.group = this.currentGroup;
      } else {
        this.currentGroup = null;
        this.todo.group = null;
      }
    },
    appendPersonnelsAllGroupMember() {
      this.todo.personnels = this.currentGroup.members;
      setTimeout(() => this.$forceUpdate(), 0);
    },
    pushAccountToPersonnels(account) {
      this.todo.personnels.push(account);
      this.todo.personnels = this.todo.personnels.sort(
        (a1, a2) => a1.id - a2.id
      );
      this.$forceUpdate();
    },
    disselectPersonnel(account) {
      this.todo.personnels = this.todo.personnels.filter(
        (a) => a.id != account.id
      );
      setTimeout(() => this.$forceUpdate(), 0);
    },
    pushAccountToFrom(account) {
      this.todo.from = account;
      this.$forceUpdate();
    },
    disselectFrom() {
      this.todo.from = null;
      setTimeout(() => this.$forceUpdate(), 0);
    },
    async createChildPerPersonnels() {
      this.todo.type = TodoType.MEMBER_TODO_PARENT;
      await this.registTodo();
    },
    async cancel() {
      LocalMemory.clearCache(this.todo);
      if (this.value) {
        this.$emit("cancel", this.todo);
      } else if (this.todoId || (this.todo && this.todo.id)) {
        this.todo = await loadTodo(this.todoId || this.todo.id);
      }
      if (!this.todo.progress) {
        this.todo.progress = 0;
      }
      this.afterRegist();
    },
    toEditable(bool) {
      this.editable = bool;
      this.$emit("editing", bool);
    },
    refleshCustomAttribute() {
      if (this.currentGroup && this.currentGroup.customAttributes) {
        this.currentGroup.customAttributes.sort((a, b) => a.order - b.order);
        if (!this.todo.customAttributeValues) {
          this.todo.customAttributeValues = [];
        }
        this.todo.customAttributeValues = this.currentGroup.customAttributes.map(
          (gc) =>
            this.todo.customAttributeValues.find(
              (c) => c && c.customAttribute && c.customAttribute.id == gc.id
            ) || { customAttribute: gc, todoId: this.todo.id }
        );
      }
    },
    async init() {
      if (this.value) {
        this.todo = this.value;
        if (this.value.id && !this.todo.relations) {
          this.todo.relations = (await loadTodo(this.value.id)).relations;
        }
      } else if (this.todoId) {
        try {
          this.todo = await loadTodo(this.todoId);
        } catch (cantAccess) {
          if (!this.editSamePane) {
            this.$router.push(this.groupId ? `/group/${this.groupId}` : "/");
            return;
          }
          this.$warn(this.$t("todo.errors.failedToLoadTodo"));
        }
      }
      this.groups = await Group.loadSelfGroups();
      if (location.pathname.endsWith("/new") && this.groupId) {
        this.todo.groupId = this.groups.find(
          (g) => g.id == this.groupId || g.key == this.groupId
        ).id;
      }
      if (this.todo.group) {
        this.currentGroup = await Group.loadGroup(this.todo.group.id);
      } else if (this.todo.groupId) {
        this.currentGroup = await Group.loadGroup(this.todo.groupId);
        this.todo.group = this.currentGroup;
      }
      if (
        this.currentGroup &&
        this.currentGroup.todoTemplate &&
        this.currentGroup.todoTemplate.content &&
        !this.todo.id
      ) {
        this.todo.content = this.currentGroup.todoTemplate.content;
      }
      if (this.currentGroup && !this.todo.id) {
        this.todo.group = this.currentGroup;
      }
      if (!this.todo.personnels) {
        this.todo.personnels = [];
      }
      if (
        (location.pathname.endsWith("/edit") ||
          location.pathname.endsWith("/new")) &&
        !this.onlyView
      ) {
        this.editTodo();
      }
      if (
        this.todo.children &&
        this.todo.children.length > 0 &&
        !this.todo.progress
      ) {
        this.todo.progress = childProgressAvr(this.todo);
      }
      setTimeout(() => M.updateTextFields());
    },
    async search(text) {
      if (!this.currentGroup || !this.currentGroup.id) {
        return;
      }
      var query = "?searchWord=" + encodeURIComponent(text);
      if (this.todo.id) {
        query += "&ignoreTodoIds=" + this.todo.id;
      }
      this.talkingTodos = await Tenant.searchTodo(query);
    },
    talkingTodoClicked(todo) {
      this.$dialog.$emit("open", { todo });
    },
    childTodoClicked(todo) {
      this.$dialog.$emit("open", { todo });
    },
    pinClicked(todo) {
      if (!this.todo.relations) {
        this.todo.relations = [];
      }
      this.todo.relations.push(todo);
      this.talkingTodos = this.talkingTodos.filter(
        (t) => !this.todo.relations.some((r) => r.id == t.id)
      );
      this.$forceUpdate();
    },
    removeRelation(todo) {
      this.todo.relations = this.todo.relations.filter((t) => t.id != todo.id);
      this.$forceUpdate();
    },
    removeChild(todo) {
      this.todo.children = this.todo.children.filter((t) => t.id != todo.id);
      this.$forceUpdate();
    },
    removeFile(file) {
      this.todo.files = this.todo.files.filter((f) => f.id != file.id);
      this.$forceUpdate();
    },
    removeMessageLink(messageLink) {
      messageLink.deletedAt = new Date();
      this.$forceUpdate();
    },
    async downloadFile(file) {
      var url = (
        await Group.getFileDownloadUrl(
          this.currentGroup ? this.currentGroup.id : null,
          file.url
        )
      ).url;
      var xhr = new XMLHttpRequest();
      xhr.open("GET", url, true);
      xhr.responseType = "arraybuffer";
      xhr.onload = function (e) {
        var arrayBuffer = this.response;
        var blob = new Blob([arrayBuffer], { type: file.type });

        const a = document.createElement("a");
        a.href = URL.createObjectURL(blob);
        a.download = file.name;

        a.style.display = "none";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      };
      xhr.send();
    },
    openMessageLink(messageLink) {
      const win = window.open(messageLink.url, "_blank", "noopener");
      win.opener = null;
      win.location = messageLink.url;
    },
    async fileSelected(e) {
      e.preventDefault();
      let files = e.target.files;
      if (files[0]) {
        await this.upload(files[0]);
      }
      e.target.value = null;
    },
    async toggleEvent() {
      if (this.events && this.events.length > 0) {
        this.events = [];
        return;
      }
      this.events = await EventIF.loadEvent(this.todo.id);

      setTimeout(() => {
        this.$refs.eventList.scrollTo(0, this.$refs.eventList.scrollHeight);
      });
    },
    openCreateChildTodo() {
      this.newChildTodoTitle = "";
    },
    openSelectChildTodo() {
      this.$dialog.$once("todoSelected", (todo) => {
        if (!todo && todo.id == this.todo.id) {
          return;
        }
        if (!this.todo.children) {
          this.todo.children = [];
        }
        this.todo.children.push(todo);
        this.todo.children = this.todo.children.sort((c1, c2) => c1.id - c2.id);
        this.newChildTodoTitle = null;
      });
      if (!this.todo.children) {
        this.todo.children = [];
      }
      this.$dialog.$emit("open", {
        searchTodo: true,
        searchIgnoreTodos: [this.todo, ...this.todo.children],
        searchGroup: this.currentGroup,
      });
    },
    async appendsChild() {
      if (!this.newChildTodoTitle) {
        this.newChildTitleEmpty = true;
        return;
      }
      this.newChildTitleEmpty = false;
      var todo = {
        title: this.newChildTodoTitle,
        type:
          this.todo.type == "member_todo_parent"
            ? "member_todo_child"
            : "child",
        parent: { key: this.todo.key, id: this.todo.id },
      };
      if (this.currentGroup) {
        todo.groupId = this.currentGroup.id;
      }
      var uploaded = await uploadTodo(todo);
      if (!this.todo.children) {
        this.todo.children = [];
      }
      this.todo.children = this.todo.children.filter(
        (c) => c.id != uploaded.id
      );
      this.todo.children.push(uploaded);
      this.newChildTodoTitle = null;
    },
    deleteParent() {
      this.todo.parent = null;
    },
    openChoiceParent() {
      this.$dialog.$once("todoSelected", (todo) => {
        if (!todo || (this.todo.id && todo.id == this.todo.id)) {
          return;
        }
        this.todo.parent = todo;
        this.$refs.todoKey.$forceUpdate();
      });
      var searchIgnoreTodos = [];
      if (this.todo.id) {
        searchIgnoreTodos.push(this.todo);
      }
      if (this.todo.children) {
        searchIgnoreTodos = searchIgnoreTodos.concat(this.todo.children);
      }
      this.$dialog.$emit("open", {
        searchTodo: true,
        searchIgnoreTodos,
        searchGroup: this.currentGroup,
      });
    },
    conflict() {
      this.todo.__conflict = true;
      this.$forceUpdate();
    },
    isSavedNow(todoId) {
      if (this.savedNow && this.todo.id == todoId) {
        this.savedNow == false;
        return true;
      }
      this.savedNow == false;
    },
    beforeunload(event) {
      if (this.editable) {
        event.returnValue = this.$t("notSaved");
      }
    },
  },
  beforeRouteLeave(to, from, next) {
    if (!this.editable) {
      next();
      return;
    }
    let answer = window.confirm(this.$t("notSaved"));
    if (answer) {
      next();
    } else {
      next(false);
    }
  },
  async beforeMount() {
    await this.init();
    if (!this.showInDialog) {
      this.$dialog.$emit("close");
    }
  },
  async created() {
    this.keyEventHandler = (event) => {
      if (event.ctrlKey || event.metaKey) {
        if (event.keyCode == 69 && !this.editable) {
          this.editTodo();
          event.preventDefault();
          return false;
        } else if (event.keyCode == 83 && this.editable) {
          this.registTodo();
          event.preventDefault();
          return false;
        }
      }
    };
    if (!this.onlyView) {
      document.addEventListener("keydown", this.keyEventHandler);
    }
    this.updateTodoSocketListener = (pushedTodo) => {
      if (this.todo.id != pushedTodo.id) {
        return;
      }
      if (this.editable) {
        delete pushedTodo.content;
      }
      Object.assign(this.todo, pushedTodo);

      this.refleshCustomAttribute();
      this.$emit("change", this.todo);
    };
    this.updateTodoProgressSocketListener = (pushedTodo) => {
      if (this.todo.id != pushedTodo.id) {
        return;
      }
      this.todo.progress = pushedTodo.progress;
      this.$emit("change", this.todo);
    };
    this.deleteTodoSocketListener = (pushedTodo) => {
      if (this.todo.id != pushedTodo.id) {
        return;
      }
      this.$router.push(`/group/${this.currentGroup.key}`);
    };
    this.$socket.on("UPDATE_TODO", this.updateTodoSocketListener);
    this.$socket.on(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressSocketListener
    );
    this.$socket.on("DELETE_TODO", this.deleteTodoSocketListener);
    window.addEventListener("beforeunload", this.beforeunload);
  },
  async beforeDestroy() {
    document.removeEventListener("keydown", this.keyEventHandler);
    this.$socket.off("UPDATE_TODO", this.updateTodoSocketListener);
    this.$socket.off(
      "UPDATE_TODO_PROGRESS",
      this.updateTodoProgressSocketListener
    );
    this.$socket.off("DELETE_TODO", this.deleteTodoSocketListener);
    if (!this.editSamePane) {
      window.removeEventListener("beforeunload", this.beforeunload);
    }
  },
  watch: {
    todo: {
      handler: function (todo) {
        this.titleEmpty = !todo.title;
        this.$emit("change", this.todo);
        this.talkingTodos = [];
        if (
          this.editable &&
          todo.content &&
          this.originTodo &&
          todo.content != this.originTodo.content
        ) {
          LocalMemory.cacheTodo(todo);
        }
      },
      deep: true,
    },
    currentGroup(g) {
      this.refleshCustomAttribute();
    },
    async value(v) {
      this.todo = v;
      await this.init();
      this.refleshCustomAttribute();
    },
  },
};
</script>
<style scoped>
th,
td {
  padding: 0 10px;
}
.todo_area > .row {
  margin-left: 0;
  margin-right: 0;
}
.row {
  margin-bottom: 0;
}
#content {
  height: 150px;
}
.warn_area {
  background-color: red;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}
.key-area {
  width: 100%;
  line-height: 21px;
}
.key-area.editing {
  width: calc(100% - 100px);
}
.edit_parent_button {
  font-size: 10px;
  line-height: 10px;
  height: 14px;
  width: 100px;
  margin-top: 5px;
}
.point_label {
  line-height: 31px;
  margin-left: 5px;
}
.manual_box {
  width: 100%;
}
#appendPersonnelsAllGroupMemberButton {
  margin-left: 5px;
}
.child-create-area {
  padding: 1px 5px;
  margin-bottom: 1px;
}
.relation_todo,
.child_todo,
.file,
.messageLink {
  position: relative;
  transition: all 0.5s ease-out;
  border: 1px solid #ccc;
  padding: 1px 5px;
  margin-bottom: 1px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}
.relation_todo:hover,
.child_todo:hover,
.file:hover,
.messageLink:hover {
  cursor: pointer;
  background-color: #ddd;
  transition: all 0.5s ease-out;
}
.relation_todo i,
.child_todo i,
.file i,
.messageLink i {
  font-size: 15px;
}
.relation-close,
.child-close,
.file-close,
.messageLink-close {
  position: absolute;
  right: 5px;
  top: 8px;
}
.relation-close:hover,
.child-close:hover,
.file-close:hover {
  border: 1px solid #aaa;
  border-radius: 3px;
}
.children-area,
.file-area,
.messageLink-area,
.relation-area,
.history-area {
  margin-bottom: 14px;
}
.history-area label:hover {
  cursor: pointer;
  opacity: 1;
}
.history-area i {
  transition: all 0.2s ease-out;
}
.history-area.active i {
  transform: rotate(180deg);
}
.history-area .event-list {
  transition: all 0.2s ease-out;
  display: none;
  max-height: 0;
}
.history-area.active .event-list {
  max-height: 300px;
  overflow-y: scroll;
  display: inherit;
  background-color: white;
  border-radius: 5px;
  height: auto;
}
.event {
  border-bottom: 1px solid #ddd;
}
.event:last-child {
  border-bottom: none;
}
label.active {
  margin-left: 8px;
  font-size: 10px;
}
.dragging {
  border: 1px solid #8b8;
}
.child-create {
  line-height: 31px;
  height: 31px;
}
.child-select,
.child-append,
.file-append {
  font-size: 6px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
}
.file a {
  color: var(--basic-front-color);
}
.button-area::after {
  clear: both;
}
.cancel-button {
  float: right;
}
.blinking {
  animation: blink 1.5s ease-in-out infinite alternate;
}
@keyframes blink {
  0% {
    border: 1px solid #ccc;
  }
  100% {
    border: 1px solid #8b8;
  }
}
</style>