<template>
  <div :id="id" class="todo_box" v-if="localTodos != null">
    <div class="box_title">
      {{title}}
      <input-text
        id="searchInput"
        class="search-todo-input"
        @blur="hideSearch"
        :class="{active:searchActive, 'position-right': !editable}"
        v-model="searchWord"
        :placeholder="$t('todo.title')"
        @keypressEnter="search(searchWord, $event)"
      />
      <i
        class="search-button material-icons"
        @click="openSearch"
        :class="{active:!searchActive, 'position-right': !editable}"
      >search</i>
      <i
        class="show-all material-icons"
        :class="{'yet': !allLoaded, 'aleady': allLoaded}"
        @click="showAll"
      >done_all</i>
      <i
        class="moveto-first-todo-not-complete-button material-icons"
        @click="moveToFirstTodoNotComplete()"
      >import_export</i>
      <i
        v-if="editable"
        class="download-button material-icons"
        @click="downloadTodos"
      >cloud_download</i>
      <i
        v-if="editable"
        class="bar-add-button material-icons"
        @click="addSprintBarClicked"
      >vertical_align_bottom</i>
      <i v-if="editable" class="todo-add-button material-icons" @click="addTodoClicked">note_add</i>
    </div>
    <div class="box">
      <draggable
        ref="draggable"
        class="box_list"
        v-model="localTodos"
        draggable=".draggable"
        @end="onEnd"
      >
        <div
          v-for="(todo, index) in localTodos"
          :key="todo.__type+'_'+todo.id"
          :class="{draggable: editable && !smartPhone, 'todo-in-sprint': lastSprintIndex > index, 'todo-after-bar':(todo.__type=='todo' && localTodos[index-1] && localTodos[index-1].__type=='bar')}"
          class="todo-wrapper"
        >
          <todo-for-list
            v-if="todo && todo.__type=='todo' && !todo.hide"
            :todo="todo"
            :selectingId="currentTodo && currentTodo.id"
            @todo-toggle-clicked="todoToggleClicked"
            @todo-clicked="openTodo"
            @contextmenu="openTodoContextMenu(todo)"
            @child-contextmenu="(todo)=>openTodoContextMenu(todo, true)"
          />
          <div
            v-if="todo && todo.__type=='bar' && !todo.hide"
            class="draggable-bar"
            @click.ctrl="$emit('sprint-ctrl-click', todo)"
            @click.meta="$emit('sprint-ctrl-click', todo)"
            @contextmenu.prevent="sprintBarContectOpen(todo)"
          >
            <div>
              <i
                class="material-icons sprint-icon"
                @click="openEditSprintDialog(todo)"
              >vertical_align_bottom</i>
              <span
                comment="vue draggable cant rewrite without drag. so Sprint name alwais editable. please fix it."
                class="sprint-bar-title"
                @click="openEditSprintDialog(todo)"
              >{{todo.title}}</span>
              <span
                v-if="todo.startAt || todo.endAt"
                class="sprint-span"
                @click="openEditSprintDialog(todo)"
              >
                <span v-if="todo.startAt">{{todo.startAt | date($t("dateformat"))}}</span>
                <template v-if="todo.endAt">
                  <br />
                  <span>- {{todo.endAt | date($t("dateformat"))}}</span>
                </template>
              </span>
              <span v-if="group && group.id" class="to-sprint">
                <router-link :to="'/group/' + group.key + `/sprintProgress/` + todo.title">
                  <i class="material-icons">input</i>
                </router-link>
              </span>
              <span v-if="calcSprintPoint(todo, index)" class="sprint-point">
                <span v-if="todo.__currentPoint">{{todo.__currentPoint}}pt /</span>
                {{todo.__totalPoint}}pt
              </span>
            </div>
          </div>
        </div>
      </draggable>
      <div v-if="localTodos && localTodos.length == 0">{{$t("todo.noTodo")}}</div>
    </div>
    <context-menu :ref="'sprintCtxMenu'">
      <li @click="$emit('delete-sprint', currentSelectedContextTargetSprint)">{{$t("delete")}}</li>
    </context-menu>
    <context-menu :ref="'todoCtxMenu'">
      <template v-if="!currentSelectedContextTargetTodoIsChild">
        <li
          class="context-create-todo-before"
          @click="$emit('create-todo-before', currentSelectedContextTargetTodo)"
        >{{$t("todo.createNewTodoBefore")}}</li>
        <li
          class="context-create-todo-after"
          @click="$emit('create-todo-after', currentSelectedContextTargetTodo)"
        >{{$t("todo.createNewTodoAfter")}}</li>
        <li
          class="context-create-child-todo"
          @click="$emit('create-child-todo', currentSelectedContextTargetTodo)"
        >{{$t("todo.createChildTodo")}}</li>
        <hr />
        <li
          class="context-move-todo-next-to"
          @click="$emit('context-move-todo-next-to', currentSelectedContextTargetTodo)"
        >{{$t("todo.moveNextTo")}}</li>
        <hr />
      </template>
      <li
        class="context-delete"
        @click="$emit('delete-todo', currentSelectedContextTargetTodo)"
      >{{$t("delete")}}</li>
    </context-menu>
  </div>
</template>
<script>
import InputText from "./InputText";
import TodoForList from "./TodoForList";
import draggable from "vuedraggable";
import ContextMenu from "vue-context-menu";
import * as SprintBar from "../js/model/SprintBar";
import * as Blowser from "../js/util/Blowser";
export default {
  components: { InputText, TodoForList, draggable, ContextMenu },
  props: [
    "id",
    "todos",
    "title",
    "currentTodo",
    "editable",
    "allLoaded",
    "group",
    "todoEditing"
  ],
  data() {
    return {
      localTodos: [],
      maxProgress: 100,
      initialized: false,
      searchActive: false,
      searchWord: "",
      currentSearchIndex: -1,
      scrolling: false,
      currentSelectedContextTargetSprint: null,
      currentSelectedContextTargetTodo: null,
      currentSelectedContextTargetTodoIsChild: false,
      lastSprintIndex: -1,
      smartPhone: Blowser.isSmartPhone()
    };
  },
  methods: {
    sprintBarContectOpen(todo) {
      this.currentSelectedContextTargetSprint = todo;
      this.$refs.sprintCtxMenu.open();
    },
    openTodoContextMenu(todo, child) {
      if (!this.editable) {
        return;
      }
      if (this.todoEditing) {
        let answer = window.confirm(this.$t("notSaved"));
        if (!answer) {
          return;
        }
      }
      this.currentSelectedContextTargetTodo = todo;
      this.currentSelectedContextTargetTodoIsChild = child;
      this.$refs.todoCtxMenu.open();
    },
    openSearch() {
      this.searchActive = true;
      setTimeout(() => document.getElementById("searchInput").focus());
    },
    hideSearch() {
      this.searchWord = "";
      this.searchActive = false;
    },
    search(word, event) {
      const reverse = event && event.shiftKey;
      var index;
      if (!reverse) {
        index = !word
          ? -1
          : this.localTodos.findIndex((t, index) => {
              return (
                this.currentSearchIndex < index &&
                t.__type == "todo" &&
                ((t.title && t.title.includes(word)) ||
                  (t.key && t.key.includes(word)) ||
                  (t.children &&
                    t.children.some(
                      c =>
                        c.title.includes(word) ||
                        (c.key && c.key.includes(word))
                    )))
              );
            });
      } else {
        if (!word) {
          index = this.localTodos.length;
        } else {
          if (this.currentSearchIndex - 1 < 0) {
            this.currentSearchIndex = this.localTodos.length - 1;
          }
          for (var i = this.currentSearchIndex - 1; i >= 0; i--) {
            if (
              this.localTodos[i].__type == "todo" &&
              (this.localTodos[i].title.includes(word) ||
                this.localTodos[i].key.includes(word) ||
                (this.localTodos[i].children &&
                  this.localTodos[i].children.some(
                    c =>
                      c.title.includes(word) || (c.key && c.key.includes(word))
                  )))
            ) {
              index = i;
              break;
            }
            if (i == 0) {
              index = -1;
              break;
            }
          }
        }
      }
      this.currentSearchIndex = index;
      if (index >= 0) {
        this.scrollToOrderKey(this.localTodos[index].__orderKey);
      }
    },
    onEnd(event) {
      this.$emit("moved", {
        target: this.todos[event.oldIndex],
        newIndex: event.newIndex,
        oldIndex: event.oldIndex
      });
      var target = event.item;
      setTimeout(() => {
        target.className = target.className.replace(
          /\ on-dropped-action\b/g,
          ""
        );
      }, 500);
      target.className = target.className + " on-dropped-action";
      return false;
    },
    todoToggleClicked(event) {
      this.$emit("todo-toggle-clicked", event);
    },
    openTodo(todo) {
      this.$emit("todo-clicked", todo);
    },
    addTodoClicked() {
      this.$emit("add-todo-clicked");
    },
    addSprintBarClicked() {
      this.$emit("add-sprint-bar-clicked");
    },
    async init() {
      await this.moveToFirstTodoNotComplete(true);
      document.getElementsByClassName("todo_box")[0].style.opacity = 1;
    },
    async scrollToOrderKey(orderScrollTo, noanimated) {
      if (this.scrolling) {
        return;
      }
      this.scrolling = true;
      var scrollHeight = 0;
      var todoBoxes = document.getElementsByClassName("todo-wrapper");
      for (let i = 0; i < this.localTodos.length; i++) {
        if (this.localTodos[i].__orderKey < orderScrollTo) {
          scrollHeight += todoBoxes[i].offsetHeight;
          if (window.getComputedStyle) {
            scrollHeight +=
              parseInt(window.getComputedStyle(todoBoxes[i])["margin-top"]) ||
              0;
            scrollHeight +=
              parseInt(
                window.getComputedStyle(todoBoxes[i])["margin-bottom"]
              ) || 0;
          }
        } else {
          break;
        }
      }
      const todoBox = document.getElementsByClassName("todo_box")[0];
      if (noanimated) {
        todoBox.scrollTop = scrollHeight;
        this.scrolling = false;
        return todoBox;
      }
      for (var i = 0; i < 30 && todoBox.scrollTop != scrollHeight; i++) {
        var diffHeight = (todoBox.scrollTop - scrollHeight) / 2;
        if (Math.abs(diffHeight) < 5) {
          break;
        }
        var beforeScrollTop = todoBox.scrollTop;
        await new Promise(res => {
          todoBox.scrollTop -= diffHeight;
          setTimeout(res, 33);
        });
        if (beforeScrollTop == todoBox.scrollTop) {
          break;
        }
      }
      todoBox.scrollTop = scrollHeight;
      this.scrolling = false;
      return todoBox;
    },
    sprintBarClicked(todo) {
      todo.__editing = true;
      todo.__beforeTitle = todo.title;
      this.$refs.draggable.$forceUpdate();
    },
    openEditSprintDialog(sprint) {
      this.$dialog.$emit("open", {
        editSprint: true,
        sprint
      });
      this.$dialog.$once("closed", async result => {
        if (!result.ok) {
          return;
        }
        sprint.title = result.title;
        sprint.startAt = result.startAt;
        sprint.endAt = result.endAt;
        if (sprint.groupId) {
          await SprintBar.saveGroup(sprint.groupId, sprint);
        } else {
          await SprintBar.saveSelf(sprint);
        }
      });
    },
    sprintBarEditFinished(todo) {
      if (!todo.title) {
        todo.title = todo.__beforeTitle;
      }
      this.$emit("sprint-bar-title-changed", todo);
      todo.__editing = false;
    },
    calcSprintPoint(todo, index) {
      var total = 0;
      var current = 0;
      for (let i = index - 1; i >= 0; i--) {
        if (this.localTodos[i].__type == "todo") {
          if (this.localTodos[i].point) {
            total += parseInt(this.localTodos[i].point);
            var todoCurrent = 0;
            if (this.localTodos[i].progress) {
              todoCurrent = Math.floor(
                (parseInt(this.localTodos[i].point) *
                  parseInt(this.localTodos[i].progress)) /
                  this.maxProgress
              );
            } else if (
              this.localTodos[i].children &&
              this.localTodos[i].children.length
            ) {
              const currentProgress =
                this.localTodos[i].children.reduce(
                  (p, t) => p + parseInt(t.progress || 0),
                  0
                ) / this.localTodos[i].children.length;
              todoCurrent = Math.floor(
                (parseInt(this.localTodos[i].point) * currentProgress) /
                  this.maxProgress
              );
            }
            if (todoCurrent) {
              current += todoCurrent;
            }
          }
        } else {
          break;
        }
      }
      todo.__totalPoint = total;
      todo.__currentPoint = current;
      return total;
    },
    downloadTodos() {
      this.$emit("download-todos");
    },
    showAll() {
      this.$emit("show-all");
    },
    async moveToFirstTodoNotComplete(noanimated) {
      var firstTodoNotCompleteIndex = this.localTodos.findIndex(t => {
        return (
          t.__type == "todo" &&
          !(
            t.progress == this.maxProgress ||
            (!t.progress &&
              t.children &&
              t.children.length > 0 &&
              !t.children.find(c => c.progress != this.maxProgress))
          )
        );
      });
      if (-1 != firstTodoNotCompleteIndex) {
        await this.scrollToOrderKey(
          this.localTodos[firstTodoNotCompleteIndex].__orderKey,
          noanimated
        );
      }
    }
  },
  watch: {
    todos: {
      handler: function(todos) {
        this.localTodos = todos;
        this.lastSprintIndex = -1;
        this.localTodos.forEach((t, index) => {
          if (t.__type == "bar") {
            this.lastSprintIndex = index;
          }
        });
        if (todos && !this.initialized) {
          this.initialized = true;
          setTimeout(() => this.init());
        }
      },
      deep: true
    },
    searchWord(word) {
      this.search(word);
    }
  }
};
</script>
<style scoped>
.box {
  width: 100%;
  border: 0px solid #00000000;
  margin-bottom: 100%;
}
.todo_box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  opacity: 0;
}
.box_title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.box_list {
  background-color: var(--main-color);
}
.todo-wrapper {
  background-color: var(--todo-in-box-color);
}
.todo-in-sprint {
  margin: 0 5px;
}
.todo-in-sprint.todo-after-bar {
  margin-top: 5px;
}
.search-button {
  transition: opacity 0.5s ease-out;
  position: absolute;
  right: 135px;
  top: 14px;
  opacity: 0;
  display: none;
}
.search-button.active {
  border: 1px;
  display: inherit;
  opacity: 1;
}
.search-todo-input {
  transition: all 0.2s ease-out;
  position: absolute;
  border: none;
  right: 135px;
  top: 8px;
  height: 26px;
  width: 0;
}
.search-todo-input.active {
  width: 200px;
}
.show-all {
  position: absolute;
  right: 110px;
  top: 14px;
}
.show-all.aleady {
  opacity: 0.5;
}
.moveto-first-todo-not-complete-button {
  position: absolute;
  right: 85px;
  top: 14px;
}
.position-right {
  right: 10px;
}
.todo-add-button {
  position: absolute;
  right: 10px;
  top: 14px;
}
.bar-add-button {
  position: absolute;
  right: 35px;
  top: 14px;
}
.download-button {
  position: absolute;
  right: 60px;
  top: 14px;
}
.search-button:hover,
.show-all.yet:hover,
.moveto-first-todo-not-complete-button:hover,
.todo-add-button:hover,
.bar-add-button:hover,
.download-button:hover {
  color: #eee;
  cursor: pointer;
  user-select: none;
}
.todo {
  transition: all 0.5s ease-out;
}
.on-dropped-action {
  transition: all 0.5s ease-out;
  background-color: #dfebd3;
}
.draggable-bar {
  border-bottom: 5px solid var(--main-background-color);
  margin: 0 -5px;
  height: 50px;
  color: var(--main-front-color);
  background-color: var(--main-color);
  padding-left: 10px;
}
.draggable-bar::after {
  clear: both;
}
.sprint-icon {
  line-height: 50px;
}
.sprint-icon,
.sprint-bar-title,
.sprint-span {
  float: left;
  color: var(--main-front-color);
}
.sprint-bar-title,
.sprint-point,
.to-sprint i {
  line-height: 45px;
}
.sprint-point {
  color: var(--main-front-color);
  float: right;
  margin-right: 15px;
}
.to-sprint i {
  margin-top: 0;
  color: white;
  float: right;
  margin-right: 15px;
}
.to-sprint i:hover {
  opacity: 0.5;
  cursor: pointer;
}
.sprint-span {
  margin-top: 10px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 20px;
}
.sprint-icon:hover,
.sprint-bar-title:hover,
.sprint-span:hover {
  cursor: pointer;
}
</style>

