<template>
  <div class="wiki-wrapper row">
    <div class="wiki-list-wrapper col col100">
      <button
        v-if="editable"
        id="wikiAddButton"
        class="waves-effect waves-light btn row"
        @click="addWiki"
      >
        <i class="material-icons left">playlist_add</i>
        {{$t("appends")}}
      </button>
      <div class="wiki-list row">
        <div
          class="wiki-in-list col s12"
          v-for="wikiInList in list"
          :key="wikiInList.id"
          @click.prevent="pushState(groupId, wikiInList.id)"
          @contextmenu.prevent="openContextMenu(wikiInList)"
        >
          <i class="material-icons">view_headline</i>
          <span class="title">{{wikiInList.title}}</span>
        </div>
      </div>
    </div>
    <div class="col col-100" v-if="wiki">
      <div class="wiki-content-area">
        <div class="row" style="margin-bottom:0">
          <div class="col s8">
            <input-text
              id="title"
              class="col s12"
              v-model="wiki.title"
              v-if="editing"
              :invalid="titleInvalid"
            ></input-text>
          </div>
          <div class="col s2">
            <button
              class="waves-effect waves-light btn-flat col s12"
              @click="cancelEdit"
              v-if="editing"
            >{{$t("cancel")}}</button>
          </div>
          <div class="col s2">
            <button
              class="waves-effect waves-light btn col s12"
              @click="save"
              v-if="editing"
              id="saveButton"
            >{{$t("save")}}</button>
          </div>
          <div class="col s10 wiki-title" v-if="!editing">{{wiki.title}}</div>
          <div class="col s2">
            <button
              class="waves-effect waves-light btn col s12"
              @click="editWiki"
              v-if="!editing && editable"
            >{{$t("edit")}}</button>
          </div>
        </div>
        <markdown
          class="wiki-content"
          :value="wiki.content"
          v-if="!editing"
          :groupId="groupId"
          :class="{'show-history': events.length > 0}"
        />
        <input-textarea
          v-if="editing"
          id="content"
          class="wiki-content col s12"
          rows="3"
          :disabled="!editing"
          v-model="wiki.content"
          :textStyle="{height:'100%', overflow:'scroll'}"
          :class="{'dragging': draggingOnContent, 'blinking': fileUploading, 'show-history': events.length > 0}"
          @drop="onDropToContent"
          @dragover="draggingOnContent=true"
          @dragleave="draggingOnContent=false"
          @paste="onPaste"
        />
        <div class="row history-area" :class="{active: events.length > 0}" v-if="!editing">
          <label class="alwaysactive col s12" @click="toggleEvent">
            {{$t("todo.events")}}
            <i class="material-icons">arrow_drop_down</i>
          </label>
          <div ref="eventList" class="event-list col s12">
            <event class="col s12 event" v-for="event in events" :key="event.id" :event="event" />
          </div>
        </div>
      </div>
    </div>
    <context-menu :ref="'wikiCtxMenu'">
      <li
        class="context-delete"
        @click="openDeleteDialog(currentSelectedContextTargetWiki)"
      >{{$t("delete")}}</li>
    </context-menu>
  </div>
</template>
<script>
import * as Wiki from "../js/model/Wiki";
import * as Account from "../js/model/Account";
import * as Group from "../js/model/Group";
import * as EventIF from "../js/model/Event";
import Markdown from "./Markdown";
import InputText from "./InputText";
import InputTextarea from "./InputTextarea";
import Event from "./Event";
import ContextMenu from "vue-context-menu";
export default {
  components: { Markdown, InputText, InputTextarea, Event, ContextMenu },
  props: ["groupId", "wikiId"],
  data() {
    return {
      wiki: null,
      group: null,
      list: [],
      editing: false,
      titleInvalid: false,
      draggingOnContent: false,
      fileUploading: false,
      events: [],
      keyEventHandler: null,
      editable: false,
      currentSelectedContextTargetWiki: null
    };
  },
  methods: {
    async pushState(groupId, wikiId) {
      if (this.editing) {
        let answer = window.confirm(this.$t("notSaved"));
        if (!answer) {
          return;
        }
      }
      window.history.pushState(
        null,
        null,
        "/group/" + groupId + "/wiki/" + wikiId
      );
      this.wiki = await Wiki.load(this.groupId, wikiId);
      this.editing = false;
      this.events = [];
    },
    addWiki() {
      if (this.editing) {
        let answer = window.confirm(this.$t("notSaved"));
        if (!answer) {
          return;
        }
      }
      this.$router
        .push("/group/" + this.groupId + "/wiki/new")
        .catch(err => {});

      this.wiki = { title: "", content: "" };
      this.editing = true;
    },
    async cancelEdit() {
      if (this.wiki.id) {
        this.wiki = await Wiki.load(this.groupId, this.wiki.id);
      } else {
        this.wiki = null;
        this.$router.push("/group/" + this.groupId + "/wiki").catch(err => {});
      }
      this.editing = false;
    },
    editWiki() {
      this.editing = true;
      this.focusToTitle();
    },
    async save() {
      if (
        !this.wiki.title ||
        this.list.some(l => l.title == this.wiki.title && l.id != this.wiki.id)
      ) {
        this.titleInvalid = true;
        return;
      }
      const newWikiCreate = !!this.wiki.id;
      this.titleInvalid = false;
      this.wiki = await Wiki.save(this.groupId, this.wiki);
      if (!newWikiCreate) {
        this.list.push(this.wiki);
      } else {
        Object.assign(
          this.list.find(w => w.id == this.wiki.id),
          this.wiki
        );
      }
      this.editing = false;
      this.sortList();
      this.events = [];
      await this.pushState(this.groupId, this.wiki.id);
    },
    focusToTitle() {
      setTimeout(() => document.getElementById("title").focus());
    },
    sortList() {
      var dic = [];
      this.list.forEach(l => (dic[l.title] = l));
      var titles = Object.keys(dic);
      titles = titles.sort();
      this.list = titles.map(t => dic[t]);
    },
    async onDropToContent(event) {
      this.draggingOnContent = false;
      event.preventDefault();
      let fileList = event.target.files || event.dataTransfer.files;
      if (fileList && fileList.length > 0) {
        await this.upload(fileList[0]);
      }
    },
    async onPaste(event) {
      var items = event.clipboardData.items;
      if (items && items.length > 0 && items[0].type.match("image.*")) {
        event.preventDefault();
        items[0].name = "image";
        var i = items[0].getAsFile();
        await this.upload(i);
      }
    },
    async upload(file) {
      this.fileUploading = true;
      try {
        var uploadResponse = await Group.uploadFile(this.groupId, file);
        this.insertToCursorPosition(
          (file.type.indexOf("image") == 0 ? "!" : "") +
            "[" +
            file.name +
            "](" +
            (uploadResponse.headers.location || uploadResponse.file.url) +
            ")"
        );
      } catch (ignore) {
        this.$warn(this.$t("wiki.errors.failedToUploadFile"));
      }
      this.fileUploading = false;
    },
    insertToCursorPosition(text) {
      var area = document.getElementById("content");
      if (document.selection) {
        area.focus();
        sel = document.selection.createRange();
        sel.text = text;
      } else if (!this.wiki.content) {
        this.wiki.content = text;
      } else if (area.selectionStart || area.selectionStart == "0") {
        var startPos = area.selectionStart;
        var endPos = area.selectionEnd;
        this.wiki.content =
          this.wiki.content.substring(0, startPos) +
          text +
          this.wiki.content.substring(endPos, this.wiki.content.length);
      } else {
        this.wiki.content += "\n" + text;
      }
    },
    async toggleEvent() {
      if (this.events && this.events.length > 0) {
        this.events = [];
        return;
      }
      this.events = await EventIF.loadWikiEvent(this.groupId, this.wiki.id);
      setTimeout(() => {
        this.$refs.eventList.scrollTo(0, this.$refs.eventList.scrollHeight);
      });
    },
    async openContextMenu(wiki) {
      this.currentSelectedContextTargetWiki = wiki;
      this.$refs.wikiCtxMenu.open();
    },
    async openDeleteDialog(wiki) {
      this.$dialog.$emit("open", {
        confirm: true,
        message: this.$t("wiki.confirmDelete", {
          title: wiki.title
        }),
        execButton: this.$t("delete")
      });
      this.$dialog.$once("closed", async ok => {
        if (ok === true) {
          await Wiki.deleteWiki(this.group.id, wiki);
          var wikiIndex = this.list.findIndex(w => w.id == wiki.id);
          if (wikiIndex >= 0) {
            this.list.splice(wikiIndex, 1);
          }
          if (this.wiki && this.wiki.id == wiki.id) {
            this.wiki = null;
          }
        }
      });
    },
    beforeunload(event) {
      if (this.editing) {
        event.returnValue = this.$t("notSaved");
      }
    }
  },
  beforeRouteLeave(to, from, next) {
    if (!this.editing) {
      next();
      return;
    }
    let answer = window.confirm(this.$t("notSaved"));
    if (answer) {
      next();
    } else {
      next(false);
    }
  },
  async created() {
    if (!this.list || this.list.length == 0) {
      this.list = await Wiki.loadAll(this.groupId);
      this.sortList();
    }
    if (this.wikiId && this.wikiId == "new") {
      this.wiki = { title: "", content: "" };
      this.editing = true;
    } else if (this.wikiId && !(this.wiki && this.wiki.id == this.wikiId)) {
      this.wiki = await Wiki.load(this.groupId, this.wikiId);
    }
    this.keyEventHandler = event => {
      if (event.ctrlKey || event.metaKey) {
        if (this.wiki && event.keyCode == 69 && !this.editing) {
          this.editWiki();
          event.preventDefault();
          return false;
        } else if (this.wiki && event.keyCode == 83 && this.editing) {
          this.save();
          event.preventDefault();
          return false;
        }
      }
    };

    var me = await Account.getAccount();
    this.group = await Group.loadGroup(this.groupId);
    if (!this.group.viewMembers.some(a => a.id == me.id)) {
      this.editable = true;
      document.addEventListener("keydown", this.keyEventHandler);
    }
    window.addEventListener("beforeunload", this.beforeunload);
  },
  async beforeDestroy() {
    document.removeEventListener("keydown", this.keyEventHandler);
    window.removeEventListener("beforeunload", this.beforeunload);
  }
};
</script>
<style scoped>
.wiki-wrapper {
  height: 100%;
  margin-bottom: 0;
}
.col100 {
  width: 200px;
  height: 100%;
  background-color: #e9e9e9;
}
.col-100 {
  width: calc(100% - 200px);
  height: 100%;
}
.wiki-list-wrapper {
  position: relative;
  padding: 0;
}
.wiki-list {
  overflow-y: scroll;
  height: calc(100% - 47px);
  position: relative;
  margin-top: 42px;
  padding: 0 15px;
}
#wikiAddButton {
  width: 100%;
  padding: 0 10px;
  margin: 0;
  position: absolute;
}
.wiki-in-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding: 0;
}
.wiki-in-list:hover {
  opacity: 0.5;
  cursor: pointer;
}
.wiki-content-area {
  height: 100%;
  padding: 10px;
  background-color: white;
}
.wiki-content {
  height: calc(100% - 33px - 30px - 10px - 10px);
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}
.wiki-content.show-history {
  height: calc(100% - 33px - 200px - 10px - 10px);
}
.wiki-title {
  font-size: 22px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.history-area {
  transition: all 0.2s ease-out;
  height: 30px;
  overflow-y: scroll;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}
.history-area.active {
  height: 200px;
}
.history-area label:hover {
  cursor: pointer;
  opacity: 1;
}
.history-area i {
  transition: all 0.2s ease-out;
}
.history-area.active i {
  transform: rotate(180deg);
}
.history-area .event-list {
  transition: all 0.2s ease-out;
  display: none;
  max-height: 0;
}
.history-area.active .event-list {
  max-height: 300px;
  overflow-y: scroll;
  display: inherit;
  background-color: white;
  border-radius: 5px;
  height: auto;
}
.event {
  border-bottom: 1px solid #ddd;
}
.event:last-child {
  border-bottom: none;
}
</style>